/* Import variables and mixins */
/* Global variables > Colours */
/* Grays */
/* Device type gutters */
/* Negative device type gutters */
/* Highlighted update types */
/* Global variables > Margins */
/* Countdown timer */
/* Global > Mixins */
/* Team badges */
/* Team badges > Retina overrides */
/* Tweets */
/* Retina overrides > Tweets */
/* News feed toggles */
/* Retina overrides > News feed toggles */
/* Retina overrides > Line up icons */
/* Retina overrides > Dropdown bar */
/* Retina overrides > Social icons */
/* Retina overrides > Team badges */
/* Retina overrides > Arrows */
/* Retina overrides > Social network page icons */
/* Retina overrides > Footer */
/* Grid */
#outer {
	width: 1140px;
}

#content {
	float: left;
	width: 800px;
}

#panel {
	float: right;
	margin-top: 10px;
	width: 300px;
}

/* Global */
#footer-bar-overlay {
	background: url(/assets/images/transparencies/000000/percent-50.png) repeat left top;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
}

/* Global > Custom scrollbars */
.jspContainer {
	overflow: hidden;
	position: relative;
}

.jspPane {
	position: absolute;
}

.jspVerticalBar {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 12px;
}

.jspCap {
	display: none;
}

.jspTrack {
	background: #fff;
	position: relative;
}

.jspDrag {
	background: #3c7f18;
	cursor: pointer;
	position: relative;
	left: 0;
	top: 0;
}

/* Global > Module */
/* Global > Tabs */
.tabs .tab-content {
	padding-top: 20px;
}
.tabs .tab-content .inner {
	margin: 0 auto;
	overflow-y: auto;
	width: 1140px;
}

/* Global > Tabs (internal) */
.tabs-internal .tab-triggers {
	margin: 0 auto;
	width: 1140px;
}
.tabs-internal .tab-content {
	padding-top: 20px;
}

/* Global > Tab triggers */
/* Global > Mode dimensions */
#mode-dimensions #mode SPAN {
	color: #3f6909;
}

/* Global > Split bar */
.split-bar .outer {
	width: 90%;
}

/* Global > Split bar key */
/* Global > League table */
/* Global > In summary */
/* Outer most wrapper */
/* Header */
#header {
	margin-bottom: 20px;
	width: auto;
}
#header #fixtures-trigger {
	display: none;
}
#header #fixtures .outer {
	width: 1115px;
}
#header #fixtures .outer .inner .match {
	width: 156px;
}
#header #fixtures .outer .inner .match TABLE TBODY TR TH A {
	display: none;
}

/* Dropdown bar */
#dropdown-bar #view-all-live-games {
	margin-left: 10px;
}
#dropdown-bar #container-stats {
	display: none;
}
#dropdown-bar #container-stats UL.triggers LI > A SPAN {
	right: 10px;
}
#dropdown-bar #container-stats UL.triggers LI DIV.module .inner {
	padding: 10px;
}
#dropdown-bar > UL {
	float: right;
}
#dropdown-bar > UL LI#stats {
	display: none;
}
#dropdown-bar > UL LI.loading SPAN {
	top: 9px;
}
#dropdown-bar .flyout-content UL.triggers > LI > A {
	padding-left: 10px;
}
#dropdown-bar .flyout-content UL.triggers > LI .iPhoneCheckContainer {
	margin-right: 10px;
}
#dropdown-bar .flyout-content UL.triggers > LI .iPhoneCheckContainer LABEL {
	padding-top: 4px;
}
#dropdown-bar .flyout-content UL.triggers > LI DIV.module .close {
	left: 10px;
}
#dropdown-bar .flyout-content .button {
	margin: 10px 0 10px 10px;
}
#dropdown-bar .flyout-content .league-table .legend LI {
	padding-right: 10px;
}
#dropdown-bar .flyout-content .league-table OL LI UL LI {
	padding-right: 10px;
}
#dropdown-bar .flyout-content .league-table .footer {
	padding-right: 10px;
}
#dropdown-bar .flyout-content#container-stats {
	/*display: none;*/
}

/* Match summary */
#match-summary TABLE TH,
#match-summary TABLE TD {
	width: 360px;
}
#match-summary .separator {
	width: 80px;
}
#match-summary #summary-statistics {
	padding-left: 10px;
	padding-right: 10px;
}

/* Match heading */
#match-heading {
	padding-left: 10px;
	padding-right: 120px;
}
#match-heading #share-icons {
	right: 0;
}
#match-heading #share-icons LI.facebook A {
	background-image: url(/assets/images/share-icons/facebook.png);
}
#match-heading #share-icons LI.twitter A {
	background-image: url(/assets/images/share-icons/twitter.png);
}
#match-heading #share-icons LI.google A {
	background-image: url(/assets/images/share-icons/google.png);
}

/* Countdown timer */
#countdown-timer {
	margin: 20px auto 10px auto;
}

/* News feed */
#news-feed #new-updates {
	margin-left: 10px;
}
#news-feed .update {
	padding-left: 10px;
}
#news-feed .update.goal A.toggle {
	background-image: url(/assets/images/news-feed-toggle/green.png);
}
#news-feed .update.goal P.tweet-this-post A {
	background-image: url(/assets/images/tweets/white.png);
}
#news-feed .update.red-card A.toggle {
	background-image: url(/assets/images/news-feed-toggle/red.png);
}
#news-feed .update.red-card P.tweet-this-post A {
	background-image: url(/assets/images/tweets/white.png);
}
#news-feed .update.yellow-card A.toggle {
	background-image: url(/assets/images/news-feed-toggle/yellow.png);
}
#news-feed .update.yellow-card P.tweet-this-post A {
	background-image: url(/assets/images/tweets/black.png);
}
#news-feed .update.statistic P.tweet-this-post A {
	background-image: url(/assets/images/tweets/white.png);
}
#news-feed .update IMG.source-icon {
	height: 50px;
	left: 60px;
	width: 50px;
}
#news-feed .update .source H4 {
	text-align: center;
}
#news-feed .update .source P {
	left: 10px;
	padding: 0 10px;
	width: 130px;
}
#news-feed .update A.toggle {
	background-image: url(/assets/images/news-feed-toggle/gray.png);
}
#news-feed .update P.time-type EM {
	background-image: url(/assets/images/update-time-arrow.png);
}
#news-feed .update P.time-type SPAN {
	width: 150px;
}
#news-feed .update P.tweet-this-post A {
	background-image: url(/assets/images/tweets/green.png);
	padding-left: 20px;
}
#news-feed .update H2,
#news-feed .update > UL,
#news-feed .update .inner {
	padding-left: 175px;
}

/* Footer bar */
#footer-bar {
	background: url(/assets/images/footer-bar-shadow-repeater.png) repeat-x left top;
	bottom: 0;
	height: auto;
	left: 0;
	padding-top: 9px;
	position: fixed;
	width: 100%;
	z-index: 5;
}
#footer-bar .close {
	display: none;
}
#footer-bar #footer-bar-container {
	background: url(/assets/images/repeater-gray-pattern.gif) repeat left top;
	height: 0;
	position: relative;
	/* Not all tabs should be absolutely positioned, hence the inclusion of these styles to the footer bar only */
}
#footer-bar #footer-bar-container .tab-content {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
#footer-bar #footer-bar-container .tab-content.module {
	background: none;
}
#footer-bar #footer-bar-container .tabs-internal {
	display: block;
	position: relative;
}
#footer-bar #footer-bar-container .tabs-internal .tab-content {
	top: 45px;
}

/* Line Ups */
/* Facts */
.facts UL > LI {
	padding-left: 15px;
	padding-right: 15px;
}

/* Match preview */
/* Match preview > Match listing */
/* Last 6 matches */
/* Previous meetings */
/* Top scorers */
/* Next 3 matches */
/* Match stats */
/* Panel */
/* Footer */
#footer {
	/*margin-bottom: 50px;*/
}
#footer .inner {
	background: url(/assets/images/repeater-footer-inner.gif) repeat-y center top;
	width: 1140px;
}
#footer .inner DIV#footer-links {
	width: 350px;
}
#footer .inner DIV#footer-links LI {
	width: 175px;
}
#footer .inner DIV#social-links {
	width: 250px;
}
#footer .inner DIV#footer-logo {
	width: 300px;
}

/* Debug logger */
/* Debug mode */
