/* Import variables and mixins */
/* Global variables > Colours */
/* Grays */
/* Device type gutters */
/* Negative device type gutters */
/* Highlighted update types */
/* Global variables > Margins */
/* Countdown timer */
/* Global > Mixins */
/* Team badges */
/* Team badges > Retina overrides */
/* Tweets */
/* Retina overrides > Tweets */
/* News feed toggles */
/* Retina overrides > News feed toggles */
/* Retina overrides > Line up icons */
/* Retina overrides > Dropdown bar */
/* Retina overrides > Social icons */
/* Retina overrides > Team badges */
/* Retina overrides > Arrows */
/* Retina overrides > Social network page icons */
/* Retina overrides > Footer */
/* Grid */
/* Global */
#beta {
	display: none;
}

html {
	-webkit-text-size-adjust: none;
}

H1 {
	background-size: 100%;
	height: 39px;
	margin-top: 20px;
	width: 101px;
}

.button {
	font-size: 1.6em;
	padding-bottom: 3px;
	padding-top: 5px;
}

/* Global > Custom scrollbars */
/* Global > Module */
/* Global > Tabs */
.tabs .tab-content {
	padding-left: 0;
	padding-right: 0;
}

/* Global > Tabs (internal) */
.tabs-internal .tab-content {
	padding: 15px 0;
}

/* Global > Tab triggers */
/* Global > Mode dimensions */
#mode-dimensions #mode SPAN {
	color: #c00000;
}

/* Global > Split bar */
.split-bar {
	padding-left: 5%;
	padding-right: 5%;
}
.split-bar STRONG {
	width: 14%;
}
.split-bar UL {
	width: 72%;
}

/* Global > Split bar key */
/* Global > League table */
/* Global > In summary */
/* Outer most wrapper */
/* Header */
.match-detail #header #fixtures .inline-link:first-of-type {
	border-bottom: solid 1px #e0e0e0;
	border-top: none;
	display: block;
}

#header #fixtures-trigger {
	background: #f1f1f1;
	border-bottom: solid 1px #e0e0e0;
	cursor: pointer;
	padding: 10px 10px 5px 55px;
	position: relative;
}
#header #fixtures-trigger A {
	display: block;
	position: absolute;
	text-indent: -9999px;
}
#header #fixtures-trigger A#todays-matches {
	background-image: url(/assets/images/retina/toggle-scores.png);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 20px;
	left: 15px;
	top: 12px;
	width: 28px;
}
#header #fixtures-trigger SPAN {
	color: #3c7f18;
	font-family: 'mirror-condensed-regular', sans-serif;
	font-size: 1.6em;
}
#header #fixtures.offscreen {
	position: absolute;
}
#header #fixtures .inline-link {
	border-top: solid 1px #e0e0e0;
	display: block;
	padding: 10px 10px 5px 10px;
}
#header #fixtures .inline-link A {
	color: #3c7f18;
	display: block;
	font-family: 'mirror-condensed-bold', sans-serif;
	font-size: 1.8em;
	position: relative;
	text-align: center;
}
#header #fixtures .inline-link A SPAN {
	background-image: url(/assets/images/retina/arrow-right.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	display: block;
	height: 15px;
	position: absolute;
	right: 0;
	text-indent: -9999px;
	top: 5px;
	width: 10px;
}
#header #fixtures UL {
	display: none;
}
#header #fixtures .internal-scroller .inline-link:last-of-type {
	border-bottom: none;
}
#header #fixtures .outer {
	border-left: 0;
}
#header #fixtures .outer .inner {
	margin: 0;
}
#header #fixtures .outer .inner .match {
	background: none;
	height: auto;
	width: 100%;
}
#header #fixtures .outer .inner .match:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
#header #fixtures .outer .inner .match:nth-child(odd) {
	background-color: #f1f1f1;
}
#header #fixtures .outer .inner .match:nth-child(odd) TABLE TBODY {
	background-color: #f1f1f1;
}
#header #fixtures .outer .inner .match .event-update {
	height: 55px;
}
#header #fixtures .outer .inner .match .event-update.yellow-card {
	/* Smaller, but on a single line */
}
#header #fixtures .outer .inner .match .event-update.yellow-card P {
	padding-top: 9px;
}
#header #fixtures .outer .inner .match .event-update P {
	font-size: 2.4em;
	padding-top: 9px;
}
#header #fixtures .outer .inner .match .event {
	font-size: 0.8em;
	height: auto;
	padding-top: 0;
}
#header #fixtures .outer .inner .match TABLE.active {
	background: #2f2e2e;
	border-bottom: solid 1px #2f2e2e;
}
#header #fixtures .outer .inner .match TABLE.active THEAD {
	background-image: none;
	border-right: none;
}
#header #fixtures .outer .inner .match TABLE.active THEAD TH {
	background-image: none;
	color: #3c7f18;
}
#header #fixtures .outer .inner .match TABLE.active TBODY {
	background-color: #2f2e2e;
	background-image: url(/assets/images/retina/carousel-scores-separator-active.gif);
	background-position: center 7px;
	background-repeat: no-repeat;
}
#header #fixtures .outer .inner .match TABLE.active TBODY TD {
	background: none;
	border: none;
	color: white;
}
#header #fixtures .outer .inner .match TABLE THEAD {
	background: none;
}
#header #fixtures .outer .inner .match TABLE THEAD TH {
	background-image: none;
	color: #141414;
	font-size: 0.9em;
	padding: 5px 0;
	text-align: center;
}
#header #fixtures .outer .inner .match TABLE TBODY {
	background-color: white;
	background-image: url(/assets/images/retina/carousel-scores-separator.gif);
	background-position: center 7px;
	background-repeat: no-repeat;
}
#header #fixtures .outer .inner .match TABLE TBODY TR {
	float: left;
	width: 50%;
}
#header #fixtures .outer .inner .match TABLE TBODY TR:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
#header #fixtures .outer .inner .match TABLE TBODY TR TH,
#header #fixtures .outer .inner .match TABLE TBODY TR TD, #header #fixtures .outer .inner .match TABLE TBODY TR:last-of-type TH, #header #fixtures .outer .inner .match TABLE TBODY TR:last-of-type TD {
	padding: 0 0 5px 0;
}
#header #fixtures .outer .inner .match TABLE TBODY TR TH {
	float: left;
	text-align: right;
	width: 80%;
}
#header #fixtures .outer .inner .match TABLE TBODY TR TD {
	float: right;
	text-align: center;
	width: 20%;
}
#header #fixtures .outer .inner .match TABLE TBODY TR:last-of-type TH {
	float: right;
	padding-right: 20%;
	position: relative;
	text-align: left;
	width: 60%;
}
#header #fixtures .outer .inner .match TABLE TBODY TR:last-of-type TH A {
	background-image: url(/assets/images/retina/arrow-right.png);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 15px;
	position: absolute;
	right: 10px;
	text-indent: -9999px;
	top: 0;
	width: 10px;
}
#header #fixtures .outer .inner .match TABLE TBODY TR:last-of-type TD {
	float: left;
	width: 20%;
}
#header #fixtures .outer .inner .match TABLE TBODY TD {
	background: none;
	color: #3c7f18;
}

/* Dropdown bar */
#dropdown-bar {
	border-bottom: solid 1px #e0e0e0;
}
#dropdown-bar #view-all-live-games {
	display: none;
}
#dropdown-bar #container-stats UL.triggers LI > A SPAN {
	background-image: url(/assets/images/retina/dropdown-bar/arrow-right.png);
	background-size: 100% auto;
	right: 0;
}
#dropdown-bar #container-stats UL.triggers LI DIV.module {
	/* Specify which flyout content should be flush to the bottom */
}
#dropdown-bar #container-stats UL.triggers LI DIV.module .inner {
	padding: 0;
}
#dropdown-bar #container-stats UL.triggers LI DIV.module.league-table .inner, #dropdown-bar #container-stats UL.triggers LI DIV.module.line-ups .inner, #dropdown-bar #container-stats UL.triggers LI DIV.module.facts .inner {
	padding-bottom: 0;
}
#dropdown-bar > UL LI {
	margin-left: 10px;
	margin-right: 0;
}
#dropdown-bar > UL LI:first-of-type {
	margin-left: 0;
	padding-left: 15px;
}
#dropdown-bar > UL LI A {
	padding-bottom: 4px;
	padding-top: 4px;
}
#dropdown-bar > UL LI SPAN {
	background-image: url(/assets/images/retina/dropdown-bar-icons.gif);
	background-size: 100% auto;
	height: 12px;
	top: 6px;
}
#dropdown-bar > UL LI:hover SPAN {
	background-position: left -51px;
}
#dropdown-bar > UL LI.active SPAN {
	background-position: left -102px;
}
#dropdown-bar > UL LI.loading SPAN {
	top: 5px;
}
#dropdown-bar .flyout-content UL.triggers > LI {
	padding-left: 15px;
	padding-right: 15px;
}
#dropdown-bar .flyout-content UL.triggers > LI .iPhoneCheckContainer LABEL.iPhoneCheckLabelOn {
	background-image: url(/assets/images/retina/flip-toggle-switch/iphone-style-checkboxes/on.png);
}
#dropdown-bar .flyout-content UL.triggers > LI .iPhoneCheckContainer LABEL.iPhoneCheckLabelOff {
	background-image: url(/assets/images/retina/flip-toggle-switch/iphone-style-checkboxes/off.png);
}
#dropdown-bar .flyout-content UL.triggers > LI .iPhoneCheckContainer .iPhoneCheckHandle {
	background-image: url(/assets/images/retina/flip-toggle-switch/iphone-style-checkboxes/slider-left.png);
}
#dropdown-bar .flyout-content UL.triggers > LI .iPhoneCheckContainer .iPhoneCheckHandleRight {
	background-image: url(/assets/images/retina/flip-toggle-switch/iphone-style-checkboxes/slider-right.png);
}
#dropdown-bar .flyout-content UL.triggers > LI .iPhoneCheckContainer .iPhoneCheckHandleCenter {
	background-image: url(/assets/images/retina/flip-toggle-switch/iphone-style-checkboxes/slider-center.png);
}
#dropdown-bar .flyout-content UL.triggers > LI DIV.module .close {
	background-image: url(/assets/images/retina/flyout-close.png);
	background-size: 100% auto;
	left: 15px;
}
#dropdown-bar .flyout-content .button {
	margin: 10px 15px;
}
#dropdown-bar .flyout-content .league-table .legend LI {
	padding-right: 15px;
}
#dropdown-bar .flyout-content .league-table OL LI STRONG {
	padding-left: 15px;
}
#dropdown-bar .flyout-content .league-table OL LI UL LI {
	padding-right: 15px;
}
#dropdown-bar .flyout-content .league-table .footer {
	padding-right: 15px;
}

/* Match summary */
#match-summary #toggle-goal-scorers {
	position: absolute;
	right: 15px;
	top: 20px;
}
#match-summary #toggle-goal-scorers.visible {
	display: block;
}
#match-summary #toggle-goal-scorers A {
	background-image: url(/assets/images/retina/match-summary-toggle.png);
	background-repeat: no-repeat;
	background-size: 100%;
	display: block;
	height: 14px;
	text-indent: -9999px;
	width: 21px;
}
#match-summary #toggle-goal-scorers A.expanded {
	background-position: left top;
}
#match-summary #toggle-goal-scorers A.contracted {
	background-position: left -14px;
}
#match-summary TABLE {
	display: none;
}
#match-summary TABLE TH,
#match-summary TABLE TD {
	width: 40%;
}
#match-summary .separator {
	width: 20%;
}
#match-summary OL {
	border-bottom: solid 1px #e0e0e0;
}
#match-summary OL LI {
	width: 40%;
}
#match-summary OL LI.separator {
	font-size: 2em;
	padding-top: 10px;
}
#match-summary OL LI.away DIV SPAN {
	margin: 0;
}
#match-summary OL LI SPAN {
	background-image: url(/assets/images/retina/team-badges.png);
	background-size: 100% auto;
	margin: 0;
}
#match-summary OL LI STRONG {
	display: none;
}
#match-summary #summary-statistics {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	text-align: left;
}
#match-summary #summary-statistics LI:first-of-type {
	margin-left: 0;
}

/* Match heading */
#match-heading {
	padding: 0 15px;
}
#match-heading #share-icons {
	margin: 10px 0 0 0;
	position: relative;
}
#match-heading #share-icons LI.facebook A {
	background-image: url(/assets/images/retina/social-icons/facebook.png);
	background-size: 100% auto;
}
#match-heading #share-icons LI.twitter A {
	background-image: url(/assets/images/retina/social-icons/twitter.png);
	background-size: 100% auto;
}
#match-heading #share-icons LI.google A {
	background-image: url(/assets/images/retina/social-icons/google.png);
	background-size: 100% auto;
}

/* Countdown timer (mobile specific) */
#countdown-timer {
	background-image: url(/assets/images/retina/countdown-timer/repeater.gif);
	margin: 15px auto 0 auto;
	padding: 10px 5px 0 5px;
	width: 295px;
}
#countdown-timer H4 {
	font-size: 1.6em;
}
#countdown-timer .countdownHolder {
	height: 75px;
	width: 296px;
}
#countdown-timer .countdownHolder .position {
	height: 68px;
	width: 37px;
}
#countdown-timer .countdownHolder .position .countWord {
	background-image: url(/assets/images/retina/countdown-timer/words.png);
	height: 272px;
	width: 296px;
}
#countdown-timer .countdownHolder .digit {
	background-image: url(/assets/images/retina/countdown-timer/frame.png);
	height: 4488px;
	width: 111px;
}
#countdown-timer .countdownHolder > span {
	height: 68px;
	width: 74px;
}

/* News feed */
#news-feed #new-updates {
	margin-left: 15px;
	margin-right: 15px;
}
#news-feed > .inner .update {
	border-bottom: none;
	overflow: visible;
	margin-top: 0;
	padding: 15px;
}
#news-feed > .inner .update.promoted {
	padding: 15px;
}
#news-feed > .inner .update.promoted A.toggle {
	right: 25px;
	top: 50px;
}
#news-feed > .inner .update.goal A.toggle {
	background-image: url(/assets/images/retina/news-feed-toggle/green.png);
}
#news-feed > .inner .update.goal P.tweet-this-post A {
	background-image: url(/assets/images/retina/tweets/white.png);
}
#news-feed > .inner .update.red-card A.toggle {
	background-image: url(/assets/images/retina/news-feed-toggle/red.png);
}
#news-feed > .inner .update.red-card P.tweet-this-post A {
	background-image: url(/assets/images/retina/tweets/white.png);
}
#news-feed > .inner .update.yellow-card A.toggle {
	background-image: url(/assets/images/retina/news-feed-toggle/yellow.png);
}
#news-feed > .inner .update.yellow-card P.tweet-this-post A {
	background-image: url(/assets/images/retina/tweets/black.png);
}
#news-feed > .inner .update.statistic P.tweet-this-post A {
	background-image: url(/assets/images/retina/tweets/white.png);
}
#news-feed > .inner .update .inner {
	margin-top: 0;
	overflow: visible;
}
#news-feed > .inner .update H2 {
	clear: both;
}
#news-feed > .inner .update .source H4,
#news-feed > .inner .update .source IMG {
	display: none;
}
#news-feed > .inner .update .source P {
	display: block;
	font-size: inherit;
	margin-top: 5px;
	position: relative;
	text-align: left;
	top: auto;
}
#news-feed > .inner .update .source P SPAN {
	display: inline;
}
#news-feed > .inner .update .source P SPAN:before {
	content: " - ";
}
#news-feed > .inner .update .source P SPAN.by {
	display: inline;
}
#news-feed > .inner .update .source P SPAN.by:before {
	content: "";
}
#news-feed > .inner .update .source P SPAN.by:after {
	content: "\00a0";
}
#news-feed > .inner .update A.toggle {
	background-image: url(/assets/images/retina/news-feed-toggle/gray.png);
	background-size: 100% auto;
	right: 25px;
	top: 50px;
}
#news-feed > .inner .update P {
	line-height: 1.5em;
}
#news-feed > .inner .update P.time-type EM {
	background-image: url(/assets/images/retina/update-time-arrow.png);
	background-size: auto 100%;
}
#news-feed > .inner .update P.time-type SPAN {
	background-image: url(/assets/images/retina/update-time-arrow.png);
	background-size: 100% 100%;
	width: 20%;
}
#news-feed > .inner .update P.tweet-this-post {
	margin-top: 15px;
}
#news-feed > .inner .update P.tweet-this-post A {
	background-image: url(/assets/images/retina/tweets/green.png);
	background-position: left center;
	background-size: auto 100%;
	padding-left: 30px;
}
#news-feed > .inner .update IMG.source-icon {
	display: none;
}
#news-feed > .inner .update IMG.inline {
	margin-left: -6%;
	width: 112%;
}
#news-feed > .inner .update DIV.inline-image {
	overflow: visible;
	width: 100%;
}
#news-feed > .inner .update DIV.inline-image IMG {
	margin-left: -6%;
	width: 112%;
}
#news-feed > .inner .update DIV.inline-image P {
	right: -15px;
}
#news-feed > .inner .update FIGURE FIGCAPTION {
	padding: 0;
}

/* Panel > Split bar */
/* Footer bar */
#footer-bar {
	display: none;
}

/* Line Ups */
.line-ups UL:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.line-ups UL > LI {
	float: none;
	width: 100%;
}
.line-ups UL > LI .badges-header H4 {
	background-image: url(/assets/images/retina/team-badges.png);
	background-size: 100% auto;
}
.line-ups UL > LI.home OL > LI, .line-ups UL > LI.away OL > LI {
	padding-left: 15px;
	padding-right: 15px;
}
.line-ups UL > LI.home OL > LI UL, .line-ups UL > LI.away OL > LI UL {
	margin-left: 5px;
	margin-right: 0;
}
.line-ups UL > LI.home OL > LI UL LI, .line-ups UL > LI.away OL > LI UL LI {
	background-size: 100% auto;
	margin-left: 5px;
	margin-right: 0;
}
.line-ups UL > LI.home OL > LI UL LI.goalkeeper, .line-ups UL > LI.away OL > LI UL LI.goalkeeper {
	background-image: url(/assets/images/retina/line-up-icons/goalkeeper.png);
}
.line-ups UL > LI.home OL > LI UL LI.substitute-on, .line-ups UL > LI.away OL > LI UL LI.substitute-on {
	background-image: url(/assets/images/retina/line-up-icons/substitute-on.png);
}
.line-ups UL > LI.home OL > LI UL LI.substitute-off, .line-ups UL > LI.away OL > LI UL LI.substitute-off {
	background-image: url(/assets/images/retina/line-up-icons/substitute-off.png);
}
.line-ups UL > LI.home OL > LI UL LI.yellow-card, .line-ups UL > LI.away OL > LI UL LI.yellow-card {
	background-image: url(/assets/images/retina/line-up-icons/yellow-card.png);
}
.line-ups UL > LI.home OL > LI UL LI.red-card, .line-ups UL > LI.away OL > LI UL LI.red-card {
	background-image: url(/assets/images/retina/line-up-icons/red-card.png);
}
.line-ups UL > LI.home OL > LI UL LI.goal-scorer, .line-ups UL > LI.away OL > LI UL LI.goal-scorer {
	background-image: url(/assets/images/retina/line-up-icons/goal-scorer.png);
}
.line-ups UL > LI.away {
	margin-top: 15px;
}

/* Facts */
.facts UL > LI {
	padding-left: 15px;
	padding-right: 15px;
}

/* Match preview */
.match-preview .teams {
	display: none;
}

/* Match preview > Match listing */
/* Last 6 matches */
.last-6-matches .badges-header {
	display: block;
}
.last-6-matches .badges-header H4 {
	background-image: url(/assets/images/retina/team-badges.png);
	background-size: 100% auto;
}
.last-6-matches .home,
.last-6-matches .away {
	float: none;
	width: 100%;
}
.last-6-matches .away {
	margin-top: 15px;
}

/* Previous meetings */
.previous-meetings .badges-header {
	display: block;
}
.previous-meetings .badges-header LI STRONG {
	background-image: url(/assets/images/retina/team-badges.png);
	background-size: 100% auto;
}

/* Top scorers */
.top-scorers .badges-header {
	display: block;
}
.top-scorers .badges-header H4 {
	background-image: url(/assets/images/retina/team-badges.png);
	background-size: 100% auto;
}
.top-scorers .home,
.top-scorers .away {
	float: none;
	width: 100%;
}
.top-scorers .away {
	margin-top: 15px;
}
.top-scorers TABLE TH,
.top-scorers TABLE TD {
	color: white;
	padding-left: 15px;
	padding-right: 15px;
}

/* Next 3 matches */
.next-3-matches .badges-header {
	display: block;
}
.next-3-matches .badges-header H4 {
	background-image: url(/assets/images/retina/team-badges.png);
	background-size: 100% auto;
}
.next-3-matches .home,
.next-3-matches .away {
	float: none;
	width: 100%;
}
.next-3-matches .away {
	margin-top: 15px;
}

/* Match stats */
/* Panel */
#panel {
	display: none;
}

/* Footer */
#footer {
	margin-bottom: 0;
}
#footer .inner {
	background: none;
}
#footer .inner DIV {
	float: none;
	min-height: 1px;
	padding: 5%;
}
#footer .inner DIV#footer-links {
	border-bottom: solid 1px #515151;
	width: 90%;
}
#footer .inner DIV#footer-links LI {
	width: 50%;
}
#footer .inner DIV#social-links {
	border-bottom: solid 1px #515151;
}
#footer .inner DIV#social-links LI.facebook A {
	background-image: url(/assets/images/retina/social-network-page-icons/facebook.png);
	background-size: auto 200%;
}
#footer .inner DIV#social-links LI.twitter {
	margin-bottom: 0;
}
#footer .inner DIV#social-links LI.twitter A {
	background-image: url(/assets/images/retina/social-network-page-icons/twitter.png);
	background-size: auto 200%;
}
#footer .inner DIV#footer-logo P {
	background-size: 100% auto;
	height: 39px;
	width: 101px;
}

/* Debug logger */
/* Debug mode */
