/* Import variables and mixins */
/* Global variables > Colours */
/* Grays */
/* Device type gutters */
/* Negative device type gutters */
/* Highlighted update types */
/* Global variables > Margins */
/* Countdown timer */
/* Global > Mixins */
/* Team badges */
/* Team badges > Retina overrides */
/* Tweets */
/* Retina overrides > Tweets */
/* News feed toggles */
/* Retina overrides > News feed toggles */
/* Retina overrides > Line up icons */
/* Retina overrides > Dropdown bar */
/* Retina overrides > Social icons */
/* Retina overrides > Team badges */
/* Retina overrides > Arrows */
/* Retina overrides > Social network page icons */
/* Retina overrides > Footer */
/* Grid */
#outer {
	width: 100%;
}

#content {
	width: 100%;
}

/* Global */
html {
	-webkit-text-size-adjust: none;
}

BODY.pinnedToTop #page {
	padding-top: 93px;
}

H1 {
	background-image: url(/assets/images/retina/mirror-football-beta.png);
	/* background-image: url(/assets/images/retina/mirror-football.png); (without Beta logo) */
	background-size: 100%;
}

.button {
	font-size: 1.8em;
	padding-bottom: 0px;
	padding-top: 5px;
}

/* Global > Custom scrollbars */
/* Global > Module */
/* Global > Tabs */
.tabs .tab-content {
	padding-left: 0;
	padding-right: 0;
}

/* Global > Tabs (internal) */
.tabs-internal .tab-content .inner {
	padding: 0;
}

/* Global > Tab triggers */
/* Global > Mode dimensions */
#mode-dimensions #mode SPAN {
	color: #cc630e;
}

/* Global > Split bar */
.split-bar {
	padding-left: 5%;
	padding-right: 5%;
}
.split-bar STRONG {
	width: 5%;
}
.split-bar UL {
	width: 90%;
}

/* Global > Split bar key */
/* Global > League table */
/* Global > In summary */
/* Outer most wrapper */
/* Header */
#header {
	box-shadow: 0 0 5px black;
	width: 100%;
}
#header #fixtures-trigger {
	display: none;
}
#header #fixtures UL LI.disabled A {
	background-position: center -46px;
}
#header #fixtures UL A {
	background-position: center 33px;
	background-size: 100%;
}
#header #fixtures UL A.previous {
	background-image: url(/assets/images/retina/scores-arrow-previous.png);
}
#header #fixtures UL A.next {
	background-image: url(/assets/images/retina/scores-arrow-next.png);
}
#header #fixtures .outer .inner .match TABLE TBODY TR:last-of-type TH A {
	display: none;
}
#header #fixtures .outer .inner .match TABLE TBODY TH,
#header #fixtures .outer .inner .match TABLE TBODY TD {
	font-size: 1.4em;
}

/* Dropdown bar */
#dropdown-bar #view-all-live-games {
	margin-left: 20px;
}
#dropdown-bar #container-stats UL.triggers LI > A SPAN {
	background-image: url(/assets/images/retina/dropdown-bar/arrow-right.png);
	background-size: 100% auto;
	right: 20px;
}
#dropdown-bar #container-stats UL.triggers LI DIV.module {
	/* Specify which flyout content should be flush to the bottom */
}
#dropdown-bar #container-stats UL.triggers LI DIV.module .inner {
	padding: 0;
}
#dropdown-bar #container-stats UL.triggers LI DIV.module .inner.scroll {
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
}
#dropdown-bar #container-stats UL.triggers LI DIV.module.league-table .inner, #dropdown-bar #container-stats UL.triggers LI DIV.module.line-ups .inner, #dropdown-bar #container-stats UL.triggers LI DIV.module.facts .inner {
	padding-bottom: 0;
}
#dropdown-bar > UL {
	float: right;
	margin-right: 20px;
}
#dropdown-bar > UL LI A {
	padding-bottom: 4px;
	padding-top: 4px;
}
#dropdown-bar > UL LI SPAN {
	background-image: url(/assets/images/retina/dropdown-bar-icons.gif);
	background-size: 100% auto;
	height: 12px;
	top: 6px;
}
#dropdown-bar > UL LI:hover SPAN {
	background-position: left -51px;
}
#dropdown-bar > UL LI.active SPAN {
	background-position: left -102px;
}
#dropdown-bar > UL LI.loading SPAN {
	top: 5px;
}
#dropdown-bar .flyout-content UL.triggers > LI > A {
	padding-left: 20px;
}
#dropdown-bar .flyout-content UL.triggers > LI .iPhoneCheckContainer {
	margin-right: 20px;
}
#dropdown-bar .flyout-content UL.triggers > LI .iPhoneCheckContainer LABEL.iPhoneCheckLabelOn {
	background-image: url(/assets/images/retina/flip-toggle-switch/iphone-style-checkboxes/on.png);
}
#dropdown-bar .flyout-content UL.triggers > LI .iPhoneCheckContainer LABEL.iPhoneCheckLabelOff {
	background-image: url(/assets/images/retina/flip-toggle-switch/iphone-style-checkboxes/off.png);
}
#dropdown-bar .flyout-content UL.triggers > LI .iPhoneCheckContainer .iPhoneCheckHandle {
	background-image: url(/assets/images/retina/flip-toggle-switch/iphone-style-checkboxes/slider-left.png);
}
#dropdown-bar .flyout-content UL.triggers > LI .iPhoneCheckContainer .iPhoneCheckHandleRight {
	background-image: url(/assets/images/retina/flip-toggle-switch/iphone-style-checkboxes/slider-right.png);
}
#dropdown-bar .flyout-content UL.triggers > LI .iPhoneCheckContainer .iPhoneCheckHandleCenter {
	background-image: url(/assets/images/retina/flip-toggle-switch/iphone-style-checkboxes/slider-center.png);
}
#dropdown-bar .flyout-content UL.triggers > LI DIV.module .close {
	background-image: url(/assets/images/retina/flyout-close.png);
	background-size: 100% auto;
	left: 20px;
}
#dropdown-bar .flyout-content .button {
	margin: 10px 20px;
}
#dropdown-bar .flyout-content .league-table .legend LI {
	padding-right: 20px;
}
#dropdown-bar .flyout-content .league-table OL LI STRONG {
	padding-left: 20px;
}
#dropdown-bar .flyout-content .league-table OL LI UL LI {
	padding-right: 20px;
}
#dropdown-bar .flyout-content .league-table .footer {
	padding-right: 20px;
}

/* Match summary */
#match-summary TABLE TH,
#match-summary TABLE TD {
	width: 45%;
}
#match-summary .separator {
	width: 10%;
}
#match-summary OL LI {
	width: 45%;
}
#match-summary OL LI SPAN {
	background-image: url(/assets/images/retina/team-badges.png);
	background-size: 100% auto;
}
#match-summary #summary-statistics {
	padding-left: 20px;
	padding-right: 20px;
}

/* Match heading */
#match-heading {
	padding-left: 20px;
	padding-right: 140px;
}
#match-heading #share-icons {
	right: 20px;
}
#match-heading #share-icons LI.facebook A {
	background-image: url(/assets/images/retina/social-icons/facebook.png);
	background-size: 100% auto;
}
#match-heading #share-icons LI.twitter A {
	background-image: url(/assets/images/retina/social-icons/twitter.png);
	background-size: 100% auto;
}
#match-heading #share-icons LI.google A {
	background-image: url(/assets/images/retina/social-icons/google.png);
	background-size: 100% auto;
}

/* Countdown timer (tablet specific) */
#countdown-timer {
	margin: 20px auto 0 auto;
}

/* News feed */
#news-feed {
	margin: 0 20px;
}
#news-feed .update {
	padding-left: 0;
}
#news-feed .update.promoted {
	padding-left: 10px;
}
#news-feed .update.promoted .inner IMG.inline {
	width: 96%;
}
#news-feed .update.goal A.toggle {
	background-image: url(/assets/images/retina/news-feed-toggle/green.png);
}
#news-feed .update.goal P.tweet-this-post A {
	background-position: left center;
	background-image: url(/assets/images/retina/tweets/white.png);
}
#news-feed .update.red-card A.toggle {
	background-image: url(/assets/images/retina/news-feed-toggle/red.png);
}
#news-feed .update.red-card P.tweet-this-post A {
	border: solid 1px red;
	background-image: url(/assets/images/retina/tweets/white.png);
}
#news-feed .update.yellow-card A.toggle {
	background-image: url(/assets/images/retina/news-feed-toggle/yellow.png);
}
#news-feed .update.yellow-card P.tweet-this-post A {
	background-image: url(/assets/images/retina/tweets/black.png);
}
#news-feed .update.statistic P.tweet-this-post A {
	background-image: url(/assets/images/retina/tweets/white.png);
}
#news-feed .update IMG.source-icon {
	left: 7.5%;
	width: 5%;
}
#news-feed .update .source * {
	position: absolute;
}
#news-feed .update .source H4 {
	padding-left: 1%;
	padding-right: 4%;
	text-align: left;
	width: 15%;
}
#news-feed .update .source H4 SPAN {
	right: -6%;
	text-align: center;
}
#news-feed .update .source P {
	padding: 0 2% 0 2%;
	width: 16%;
}
#news-feed .update P.time-type EM {
	background-image: url(/assets/images/retina/update-time-arrow.png);
	background-size: auto 100%;
}
#news-feed .update P.time-type SPAN {
	background-image: url(/assets/images/retina/update-time-arrow.png);
	background-size: 100% 100%;
	width: 20%;
}
#news-feed .update P.tweet-this-post A {
	background-image: url(/assets/images/retina/tweets/green.png);
	background-position: left center;
	background-size: auto 100%;
	padding-left: 30px;
}
#news-feed .update A.toggle {
	background-image: url(/assets/images/retina/news-feed-toggle/gray.png);
	background-size: 100% auto;
}
#news-feed .update H2,
#news-feed .update > UL,
#news-feed .update .inner {
	padding-left: 25%;
}

/* Panel > Split bar */
/* Footer bar */
#footer-bar {
	display: none;
}

/* Line Ups */
.line-ups UL > LI .badges-header H4 {
	background-image: url(/assets/images/retina/team-badges.png);
	background-size: 100% auto;
}
.line-ups UL > LI.home OL > LI, .line-ups UL > LI.away OL > LI {
	padding-left: 20px;
	padding-right: 20px;
}
.line-ups UL > LI.home OL > LI UL LI, .line-ups UL > LI.away OL > LI UL LI {
	background-size: 100% auto;
}
.line-ups UL > LI.home OL > LI UL LI.goalkeeper, .line-ups UL > LI.away OL > LI UL LI.goalkeeper {
	background-image: url(/assets/images/retina/line-up-icons/goalkeeper.png);
}
.line-ups UL > LI.home OL > LI UL LI.substitute-on, .line-ups UL > LI.away OL > LI UL LI.substitute-on {
	background-image: url(/assets/images/retina/line-up-icons/substitute-on.png);
}
.line-ups UL > LI.home OL > LI UL LI.substitute-off, .line-ups UL > LI.away OL > LI UL LI.substitute-off {
	background-image: url(/assets/images/retina/line-up-icons/substitute-off.png);
}
.line-ups UL > LI.home OL > LI UL LI.yellow-card, .line-ups UL > LI.away OL > LI UL LI.yellow-card {
	background-image: url(/assets/images/retina/line-up-icons/yellow-card.png);
}
.line-ups UL > LI.home OL > LI UL LI.red-card, .line-ups UL > LI.away OL > LI UL LI.red-card {
	background-image: url(/assets/images/retina/line-up-icons/red-card.png);
}
.line-ups UL > LI.home OL > LI UL LI.goal-scorer, .line-ups UL > LI.away OL > LI UL LI.goal-scorer {
	background-image: url(/assets/images/retina/line-up-icons/goal-scorer.png);
}

/* Facts */
.facts UL > LI {
	padding-left: 20px;
	padding-right: 20px;
}

/* Match preview */
/* Match preview > Match listing */
/* Last 6 matches */
.last-6-matches .inner {
	padding-bottom: 10px;
}
.last-6-matches .badges-header {
	display: block;
}
.last-6-matches .badges-header H4 {
	background-image: url(/assets/images/retina/team-badges.png);
	background-size: 100% auto;
}

/* Previous meetings */
.previous-meetings .badges-header {
	display: block;
}
.previous-meetings .badges-header LI STRONG {
	background-image: url(/assets/images/retina/team-badges.png);
	background-size: 100% auto;
}

/* Top scorers */
.top-scorers .badges-header {
	display: block;
	margin-bottom: 10px;
}
.top-scorers .badges-header H4 {
	background-image: url(/assets/images/retina/team-badges.png);
	background-size: 100% auto;
}
.top-scorers TABLE TH,
.top-scorers TABLE TD {
	color: white;
	padding-left: 20px;
	padding-right: 20px;
}

/* Next 3 matches */
.next-3-matches .badges-header {
	display: block;
	margin-bottom: 10px;
}
.next-3-matches .badges-header H4 {
	background-image: url(/assets/images/retina/team-badges.png);
	background-size: 100% auto;
}

/* Match stats */
/* Panel */
#panel {
	display: none;
}

/* Footer */
#footer {
	margin-bottom: 0;
}
#footer .inner {
	background: none;
	width: 100%;
}
#footer .inner DIV {
	padding: 3% 0 3% 0;
}
#footer .inner DIV#footer-links {
	sbackground: red;
	padding-left: 3%;
	width: 37%;
}
#footer .inner DIV#footer-links LI {
	width: 50%;
}
#footer .inner DIV#social-links {
	sbackground: green;
	width: 30%;
}
#footer .inner DIV#social-links LI.facebook A {
	background-image: url(/assets/images/retina/social-network-page-icons/facebook.png);
	background-size: auto 200%;
}
#footer .inner DIV#social-links LI.twitter A {
	background-image: url(/assets/images/retina/social-network-page-icons/twitter.png);
	background-size: auto 200%;
}
#footer .inner DIV#footer-logo {
	sbackground: blue;
	padding-right: 3%;
	width: 27%;
}
#footer .inner DIV#footer-logo P {
	background-image: url(/assets/images/retina/mirror-football.png);
	background-size: 100% auto;
	height: 57px;
	width: 150px;
}

/* Debug logger */
/* Debug mode */
