.iPhoneCheckContainer {
	-webkit-transform: translate3d(0,0,0);
	cursor: pointer;
	height: 27px;
	overflow: hidden;
	position: relative;
}

.iPhoneCheckContainer input {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
	left: 30px;
	opacity: 0; 
	position: absolute;
	top: 5px;
}

.iPhoneCheckContainer label {
	cursor: pointer;
	display: block;
	font-size: 17px;
	height: 27px;
	line-height: 17px;
	overflow: hidden;
	padding-top: 5px;
	position: absolute;
	top: 0;
	white-space: nowrap;
	width: auto;
}

.iPhoneCheckContainer, .iPhoneCheckContainer label {
	-khtml-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.iPhoneCheckDisabled {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
	opacity: 0.5;
}

label.iPhoneCheckLabelOn {
	background-image: url(/assets/images/flip-toggle-switch/iphone-style-checkboxes/on.png);
	background-repeat: no-repeat;
	color: white;
	left: 0;
	padding-top: 5px;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
}

label.iPhoneCheckLabelOn span {
	color: inherit;
	padding-left: 8px;
}

label.iPhoneCheckLabelOff {
	background-image: url(/assets/images/flip-toggle-switch/iphone-style-checkboxes/off.png);
	background-position: right 0;
	background-repeat: no-repeat;	
	color: #8b8b8b;
	right: 0;
	text-align: right;
	text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.6);
}

label.iPhoneCheckLabelOff span {
	color: inherit;
	padding-right: 8px;
}

.iPhoneCheckHandle {
	background-image: url(/assets/images/flip-toggle-switch/iphone-style-checkboxes/slider-left.png);
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	height: 27px;
	left: 0;
	overflow: visible;
	padding-left: 3px;
	position: absolute;
	top: 0;	
	width: 0;
}

.iPhoneCheckHandleRight {
	background-image: url(/assets/images/flip-toggle-switch/iphone-style-checkboxes/slider-right.png);
	background-repeat: no-repeat;
	background-position: right 0;
	height: 100%;
	padding-right: 3px;
	width: 100%;
}

.iPhoneCheckHandleCenter {
	background-image: url(/assets/images/flip-toggle-switch/iphone-style-checkboxes/slider-center.png);
	height: 100%;
	width: 100%;
}