/* Import variables and mixins */ 
@import "utilities/variables";
@import "utilities/mixins";

/* Grid */

#wrapper {
	/* margin-top: 20px; (without Beta logo) */
	margin-top: 10px;
}

#outer {
	margin: 0 auto;
	position: relative;
}

#content {
	position: relative;
}

/* Global */

#beta {
	background: $green;
	box-shadow: 0 0 5px $black;
	height: 22px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	
	P {
		padding-top: 3px;
		text-align: center;
		
		A {
			background: url(/assets/images/beta-chevron.gif) no-repeat right center;
			color: #fff;
			display: inline-block;
			padding-right: 10px;
			text-align: center;
			text-transform: uppercase;
		}
	}
}

BODY,
* {
	font-family: 'PT Sans';
}

BODY {
	background-attachment:fixed;
	background-image: url(/assets/images/page-background.jpg);
	background-repeat: repeat left top;	
	
	&.match-detail {
		margin-bottom: 50px;
	}
	
	&.locked {
		#header UL LI A {
			background-color: $green-disabled;
			cursor: default;
		}
	} 
	
	&.pinnedToTop {
		#page {
			padding-top: 110px;
		}
		
		#header {
			box-shadow: 0 0 5px $black;
			position: fixed;
			top: 0;
			z-index: 4;
		}	
	}
}

H1 {
	background-image: url(/assets/images/mirror-football-beta.png);
	/* background-image: url(/assets/images/mirror-football.png); (without Beta logo) */
	background-position: center center;
	background-repeat: no-repeat;
	height: 77px;
	/* height: 77px; (without Beta logo) */	
	margin: 33px auto 0 auto;
	/* margin: 23px auto 0 auto; (without Beta logo) */
	text-indent: -9999px;	
	width: 224px;
	/* width: 203px; (without Beta logo) */
	
	A {
		display: block;
		height: 100%;
		width: 100%;
	}
}

HR {
	display: none;
}

.inner {
	@include clearfix;
	min-height: 1px;
}

A {
	text-decoration: none;
}

TABLE,
TH,
TD {
	border-collapse: collapse;
	border: none;
	width: 100%;
}

.button {
	background: $green;
	color: $white;
	cursor: pointer;
	display: block;
	@include mirror-condensed-regular;
	font-size: 2em;
	padding-top: 2px;	
	text-align: center;
	
	SPAN {
		color: inherit;
		font: inherit;
	}
}

#site-loader {
	background: $white;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 6;
}

#websockets-monitor {
	background: url(/assets/images/transparencies/000000/percent-60.png) repeat left top;
	@include border-radius-5px;
	bottom: 10px;
	left: 10px;
	padding: 5px;
	position: fixed;
	z-index: 6;
	
	H4 {
		color: $white;
		@include mirror-condensed-bold;
		font-size: 2em;
	}
	
	UL {		
		LI {
			@include border-radius-5px;
			color: $white;
			margin-bottom: 5px;
			padding: 5px;
			
			&.open {
				background: $green;
			}
			
			&.closed {
				background: $red;
			}
			
			&:last-of-type {
				border-bottom: none;
			}
		}
	}
}

IFRAME {
	&.twitter-tweet {
		margin: 20px auto 0 auto !important; /* Twitter allows only a maximum width of 500px for their embedded objects, and that is specified inline, hence the need for !important, to supersede this */
	}
}

/* Global > Custom scrollbars */
/* Global > Module */

.module {
	@include gray-pattern;
	margin-bottom: $module-margin;
	
	H3 {
		background: url(/assets/images/module-heading-down-arrow.png) no-repeat center bottom;
		padding-bottom: 8px;
		
		STRONG {
			background: $gray5;
			color: $white;
			display: block;
			@include mirror-condensed-regular;
			font-size: 2.4em;
			padding: 5px 10px 3px 10px;
			text-align: center;
		}
	}
	
	.inner {
		@include gray-pattern;
		padding: 10px;
	}
	
	.footer {
		background: $gray5;
		padding: 10px;
		
		* {
			color: $white;
		}
	}
}

/* Global > Tabs */

.tabs {
	@include clearfix;
	position: relative;
	
	.tab-content {
		@include box-sizing;

		&.module {
			margin-bottom: 0;
		}
		
		.inner {
			outline: none;
			padding: 0;
		}
	}
	
	>.tab-triggers {
		background: $gray5;
		height: 50px;
		
		LI {			
			A {
				border-left: solid 1px $gray3;
				font-size: 2.4em;
				height: 45px;
				padding: 5px 80px 0 80px;
			}
			
			&:last-of-type {
				A {
					border-right: solid 1px $gray3;
				}
			}
		}
	}
	
	.close {
		background: $green url(/assets/images/close-cross.png) no-repeat right top;
		color: $white;
		@include mirror-condensed-semi-bold;
		font-size: 2.2em;
		line-height: 1em;
		padding: 6px 55px 0 20px;
		position: absolute;
		right: 10px;
		text-transform: uppercase;
		top: 6px;
	}
}

/* Global > Tabs (internal) */

.tabs-internal {	
	>.tab-triggers {
		background: $green;
		
		LI {
			margin-top: 5px;
			
			A {
				border-left: solid 1px $gray3;
				font-size: 1.8em;
				padding: 5px 40px;
			}
			
			&:last-of-type {
				A {
					border-right: solid 1px $gray3;
				}
			}
		}
	}
}

/* Global > Tab triggers */

.tab-triggers {
	font-size: 0;
	text-align: center;
	
	LI {
		display: inline-block;
		
		A {
			color: $white;
			display: block;
			@include mirror-condensed-regular;
		}
		
		&.loading {
			background: url(/assets/images/footer-bar/loading.gif) no-repeat 10px center;
		}
		
		&.active {
			A {
				background: url(/assets/images/repeater-gray-pattern.gif) repeat left top;
				cursor: default;
			}
		}
	}
}

/* Global > Mode dimensions */

#mode-dimensions {	
	background: url(/assets/images/transparencies/ffffff/percent-60.png) repeat left top;
	border: solid 1px #777;
	@include border-radius-10px;
	left: 10px;
	padding: 5px;
	position: fixed;	
	top: 10px;
	z-index: 4;
	
	STRONG {
		color: $black;
		font-weight: bold;
	}
	
	#mode {
		font-weight: bold;
	}
	
	SPAN {
		text-transform: uppercase;
	}
}

/* Global > Split bar */

.split-bar {
	margin: 0 auto;
	padding-bottom: 12px;
	padding-top: 6px;
	
	&:nth-child(even) {
		background: $gray5;
	}
	
	&.loaded {
		UL {
			background: $white;
			
			LI {
				&:last-of-type {
					display: none;
				}
			}
		}
	}
	
	H4 {
		color: $white;
		display: block;
		font-size: 1.1em;
		margin-bottom: 5px;
		text-align: center;
	}
	
	.outer {
		background: inherit;
		margin: 0 auto;
		
		STRONG {
			color: $white;
			float: left;
			text-align: center;
			width: 15%;
			
			SPAN {
				display: none;
			}
		}

		UL {
			float: left;
			margin-top: 4px;
			width: 70%;
			
			LI {
				height: 10px;
				text-indent: -9999px;
				
				&:first-of-type {
					background: $green;
					float: left;
				}
				
				&:last-of-type {
					background: $white;
					float: right;
				}
			}
		}
	}			
}

/* Global > Split bar key */

.split-bar-key {
	margin: 10px 0 20px 0;
	
	* {
		color: $white;
	}
	
	UL {
		@include clearfix;
		
		LI {
			background: url(/assets/images/square-home-team.gif) no-repeat right 3px;
			float: left;
			text-align: right;
			width: 49%;
			
			&.away-team {
				background: url(/assets/images/square-away-team.gif) no-repeat left 3px;
				float: right;
				text-align: left;
				
				STRONG {
					padding-left: 25px;
				}
			}
			
			STRONG {
				display: block;
				padding-right: 25px;
			}
		}
	}
}

/* Global > League table */

.league-table {
	/*
	<ul>
		<li><strong>Games played: </strong>Pld</li>
		<li><strong>Points: </strong>Pts</li>
	</ul>
	*/
	
	UL.legend {
		float: right;
		
		LI {
			color: #fff;
			float: left;
			font-size: 1.1em;
			padding: 3px 5px 5px 5px;
			text-align: center;
			width: 18px;
			
			STRONG {
				display: none;
			}
		}
	}
	
	OL {
		background: url(/assets/images/league-table-row-repeater.gif) repeat left top;
		height: 500px;
		position: relative;
		width: 100%;
		
		LI {
			color: #fff;
			font-size: 1.1em;
			height: 25px;
			left: 0;
			position: absolute;
			width: 100%;
			
			&.active {
				background: $green;
			}
			
			STRONG {
				color: inherit;
				display: block;
				float: left;
				font-size: inherit;
				padding-left: 10px;
				padding-top: 3px;
				width: 20px;
			}
			
			H4 {
				color: inherit;
				float: left;
				font-size: inherit;
				padding-left: 10px;
				padding-top: 3px;
			}
			
			UL {
				color: #fff;
				float: right;
				
				LI {
					color: inherit;
					float: left;
					height: auto;
					padding: 3px 5px 0 5px;
					position: relative;
					text-align: center;
					width: 18px;
					
					SPAN {
						display: none;
					}
				}
			}
		}
	}
	
	.footer {
		padding: 7px;
		
		P {
			font-size: 0.9em;
			text-align: right;
		}
	}
}

/* Global > In summary */

.in-summary {
	.inner {
		padding: 0;
	}
}

/* Outer most wrapper */

#page {
	margin-bottom: 20px;
	overflow: hidden;
	
	&>.inner {
		background: $white;
	}
}

/* Header */

#header {
	position: relative;
	z-index: 3;
	
	#fixtures {
		background: #fff;
		width: 100%;
		
		.inline-link {
			display: none;
		}
		
		UL {
			height: 0;
			
			LI.disabled A {
				background-position: center -90px;
				cursor: default;
			}
			
			A {
				background-color: $green;
				background-position: center top;
				background-repeat: no-repeat;
				height: 90px;
				position: absolute;
				text-indent: -9999px;
				top: 0;
				width: 24px;
				z-index: 2;
				
				&.previous {
					background-image: url(/assets/images/scores-arrow-previous.png);
					border-right: solid 1px $black;
					left: 0;
				}
				
				&.next {
					background-image: url(/assets/images/scores-arrow-next.png);
					border-left: solid 1px $black;
					right: 0;
				}
			}
		}
	
		.outer {
			border-left: solid 1px transparent; /* Fixes mobile iOS interpolation error */		
			overflow: hidden;
			
			.inner {
				background: $white;
				margin: 0 24px;
				
				.match {
					background: url(/assets/images/repeater-line.gif) repeat-y right top;
					float: left;
					position: relative;
					
					.event-update {
						display: none;
						height: 90px;
						left: 0;
						position: absolute;
						top: 0;
						z-index: 1;
						
						&.yellow-card {
							background-color: $yellow;
							color: $black;
							
							/* Smaller, but on a single line */
							P {
								font-size: 2.4em;
								padding-top: 28px;
							}
						}
						
						&.red-card {
							background-color: $red;
							color: $white;
						}
						
						&.goal {
							background-color: $green;
							color: $white;
						}
						
						P {
							color: inherit;
							@include mirror-condensed-semi-bold;
							font-size: 3.4em;
							padding-top: 20px;
							text-align: center;
							text-transform: uppercase;
						}
					}
					
					H3 {
						display: none;
					}
					
					.event {
						background: $event;
						display: none;
						height: 38px;
						left: 0;
						padding-top: 10px;
						position: absolute;
						top: 22px;
						width: 100%;
						z-index: 1;
						
						STRONG {
							display: block;
							@include mirror-condensed-regular;
							font-size: 2em;
							font-style: italic;
							text-align: center;
							text-transform: uppercase;
						}
					}
				
					TABLE {
						&.active {
							THEAD {
								background: url(/assets/images/repeater-active-match-heading.gif) repeat-x left bottom;
								border-right: solid 1px $black;
								
								TH {
									background-image: url(/assets/images/repeater-active-match-top-border.gif);
									color: $green;
								}
							}
							
							TBODY {
								background: $gray5;
								
								TH {
									color: $white;
								}
								
								TD {
									background: $gray5;
									border-right: solid 1px $black;
									color: $white;
								}
							}
						}
					
						THEAD {
							background: url(/assets/images/repeater-line.gif) repeat-x left bottom;	
							
							TH {
								background-image: url(/assets/images/repeater-inactive-match-top-border.gif);
								background-position: left top;
								background-repeat: repeat-x;						
								color: $green;
								font-size: 0.9em;
								padding: 7px 15px 4px 15px;
								text-transform: uppercase;
							}
						}
						
						TBODY {
							background: $gray1;
							cursor: pointer;
							
							TD {
								background: $gray2 url(/assets/images/repeater-line.gif) repeat-y right top;
								color: $green;
							}
							
							TH,
							TD {
								color: $gray4;
								@include mirror-condensed-semi-bold;
								font-size: 1.6em;
								line-height: 1em;
								padding: 10px 15px 0 15px;
							}

							TR:last-of-type {
								TH,
								TD {
									padding-bottom: 7px;
									padding-top: 5px;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Dropdown bar */

#dropdown-bar {
	background: $white;
	border-bottom: solid 1px $gray2;
	@include clearfix;
	margin-top: 10px;
	overflow: visible;
	position: relative;
	
	#view-all-live-games {
		background: $green;
		color: $white;
		display: block;
		float: left;
		@include mirror-condensed-regular;
		font-size: 1.6em;
		line-height: 1em;
		padding: 6px 30px 4px 30px;
	}
	
	>UL {
		margin-bottom: 10px;
		
		LI {
			border-left: solid 1px $gray2;
			float: left;
			margin-left: 10px;
			padding-left: 10px;
			position: relative;
			
			&:first-of-type {
				margin-left: 10px;
			}
			
			&#filter-posts {
				border: none;
			}
			
			A {
				color: $green;				
				display: inline-block;
				outline: none;
				padding: 8px 25px 0 0;
				text-transform: uppercase;
			}
			
			SPAN {
				background-image: url(/assets/images/dropdown-bar-icons.gif);
				background-position: left top;
				background-repeat: no-repeat;
				cursor: pointer;
				display: block;
				height: 11px;
				position: absolute;
				right: 0;
				text-indent: -9999px;
				top: 11px;
				width: 18px;
			}
			
			&:hover {
				SPAN {
					background-position: left -50px;
					color: $gray3;
				}
			}
			
			&.active {
				SPAN {
					background-position: left -100px;
				}
			}
			
			&.loading,
			&.loading:hover	{
				SPAN {
					background-image: url(/assets/images/retina/dropdown-bar/ajax-loader.gif);
					background-position: center center;
					background-repeat: no-repeat;					
					background-size: auto 100%;
					height: 16px;
					width: 16px;
				}
			}
		}
	}
	
	#container-stats {
		UL.triggers {
			LI {				
				>A {
					float: none;
					position: relative;

					SPAN {
						background-image: url(/assets/images/dropdown-bar/arrow-right.png);
						background-position: left top;
						background-repeat: no-repeat;
						display: block;
						height: 15px;
						position: absolute;
						right: 10px;
						text-indent: -9999px;
						top: 10px;
						width: 10px;
					}					
				}
			}
		}
	}
	
	.flyout-content {
		clear: both;
		left: -9999px;
		position: absolute;
		top: -9999px;
		
		&.loaded {
			left: auto;
			position: relative;
			top: auto;
		}
		
		UL.triggers {
			>LI {
				cursor: pointer;
				
				&:nth-child(odd) {
					background: $gray1;
				}
				
				&:last-of-type {
					border-bottom: solid 1px $gray2;
				}
				
				&.disabled {
					A {
						color: red;
						cursor: default;
					}
				}
				
				>A {
					display: block;
					float: left;
					@include mirror-condensed-bold;
					font-size: 1.6em;
					padding-bottom: 5px;
					padding-top: 5px;
				}
				
				.iPhoneCheckContainer {
					float: right;
					margin-top: 5px;
					
					LABEL {
						padding-top: 3px;
						text-transform: uppercase;
					}
				}
				
				DIV.module {
					box-shadow: rgba(0,0,0,0.3) 0px 2px 5px;
					left: -100%;
					margin-bottom: 0;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: 3;
					
					.close {
						background-image: url(/assets/images/flyout-close.png);
						background-position: left top;
						background-repeat: no-repeat;
						height: 48px;
						padding: 0;
						position: absolute;
						text-indent: -9999px;
						top: 0;
						width: 32px;
					}
				}
			}
		}
		
		.league-table {
			.legend {
				LI {
					text-align: right;
				}
				
				OL {
					LI {
						UL {
							LI {
								text-align: right;
							}
						}
					}
				}
			}
			
			.footer {
				padding-bottom: 10px;
				padding-top: 10px;
			}
		}
		
		.line-ups {
			H3 {
				display: block;
			}
		}
		
		.facts {
			H3 {
				display: block;
			}
		}
	}
}

/* Match summary */

#match-summary {
	position: relative;
	
	#toggle-goal-scorers {
		display: none;
	}
	
	.separator {
		text-align: center;
	}
	
	OL {
		background: $gray1;
		padding: 5px 0;
		
		LI {
			float: left;
			width: 360px;

			SPAN,
			STRONG {
				float: left;
			}
			
			SPAN {
				@include team-badges;
				margin-right: 5px;
				text-indent: -9999px;
			}
			
			STRONG {
				@include mirror-condensed-regular;
				font-size: 2.4em;
				padding-top: 5px;
			}
								
			&.home {
				DIV {
					float: right;
				}
			}
			
			&.separator {
				@include mirror-condensed-bold;
				font-size: 3em;
				
				STRONG {
					display: none;
				}
			}	
					
			&.away {	
				DIV {
					float: left;
					
					SPAN {
						float: right;
						margin-left: 5px;
						margin-right: 0;
					}
				}
			}
		}
	}
	
	TABLE {
		THEAD {
			display: none;
		}
		
		TBODY {
			TR {
				&:nth-child(even) {
					background: $gray1;
				}
				
				TD {
					font-weight: bold;
					padding: 3px 0;
					
					&.home {
						text-align: right;
					}
				}
			}
		}
	}	
	
	#summary-statistics {
		border-bottom: solid 1px $gray2;
		@include clearfix;
		padding-bottom: 5px;
		padding-top: 5px;
		text-align: center;
		
		LI {		
			display: inline;
			margin: 0 5px;
			
			STRONG {
				color: $green;
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}
}

/* Match heading */

#match-heading {
	clear: both;
	margin-top: 10px;
	position: relative;
	
	H2 {
		color: $gray4;
		font-size: 1.4em;
		font-weight: bold;
		margin-bottom: 5px;
	}
	
	P {
		color: $gray3;
	}
	
	#share-icons {
		@include clearfix;
		position: absolute;
		top: 0;
		width: 106px;
		
		LI {
			float: left;
			margin-left: 5px;
			
			&:first-of-type {
				margin-left: 0;
			}
						
			A {
				background-position: left top;
				background-repeat: no-repeat;
				display: block;
				height: 32px;
				text-indent: -9999px;
				width: 32px;
				
				&:hover {
					background-position: left -32px;
				}
			}
		}
	}
}

/* Countdown timer */

#countdown-timer {
	background-image: url(/assets/images/countdown-timer/repeater.gif);
	background-color: $countdown-background;	
	background-position: left top;
	background-repeat: repeat-x;	
	@include border-radius-10px;
	padding: 20px 20px 5px 20px;
	width: 600px;
	
	H4 {
		color: $white; 
		@include mirror-condensed-bold;
		font-size: 2em;
		margin: 0 0 15px 0;
		text-align: center;
		text-transform: uppercase;
	}
		
	.countdownHolder {
		height: 150px;
		margin: 0 auto;
		position: relative;	
		width: 593px;
		
		.position {
			display: block;
			float: left;
			height: 136px;
			overflow: hidden;
			position: relative;		
			width: 74px;

			.countWord {
				background-image: url(/assets/images/countdown-timer/words.png);
				background-repeat: no-repeat;
				height: 544px;
				left: 0;
				position: absolute;
				top: 0;
				width: 592px;
				z-index: 2;
			}			
		}
		
		.digit {
			background-image: url(/assets/images/countdown-timer/frame.png);
			background-position: left top;
			background-repeat: no-repeat;
			display: block;
			height: 8976px;
			position: absolute;	
			width: 223px;
			z-index: 1;
		}
		
		&>SPAN {
			float: left;
			height: 136px;
			width: 148px;
		}
	}
}

/* News feed */

#news-feed {	
	#new-updates {
		clear: both;
		margin-top: 20px;
	}
	
	.inner {
		padding-top: 10px;
	}
	
	.update {		
		padding: 10px 0 10px 10px;
		position: relative;
			
		&.escenic {
			H2 {
				@include mirror-condensed-bold;
				font-size: 3em;
				line-height: 1em;
			}
		}
			
		* {
			color: $gray3;
		}
		
		&.new-and-hidden,
		&.hidden {
			display: none;
		}
		
		&.promoted {
			border-top: solid 6px;
			margin-top: 0;
			padding-right: 10px;
			
			A {
				&.toggle {
					right: 20px;
					top: 45px;
				}
			}
		}
	
		&.goal {
			* {
				color: $white;
			}
			
			background: $update-goal;
			border-color: $update-goal-dark;
			
			IMG {
				&.source-icon {
					border-color: $update-goal-dark;
				}
			}
			
			P {
				&.time-type {
					STRONG {
						color: $white;
					}
				}
				
				&.tweet-this-post {
					A {
						background-position: left 4px;
						color: $white;
					}
				}
			}
			
			UL {
				.match-lineup {
					LI {
						color: $update-goal-dark-text;
					}
				}
			}
		
			.source {
				P {
					color: $update-goal-dark-text;
				}
			}
		}
	
		&.red-card {
			background: $update-red-card;
			border-color: $update-red-card-dark;
			
			* {
				color: $white;
			}
			
			P {
				&.tweet-this-post {
					A {
						color: $white;
					}
				}
				
				&.time-type {
					STRONG {
						color: $white;
					}
				}
			}

			IMG {
				&.source-icon {
					border-color: $update-red-card-dark;
				}
			}
		
			UL {
				.match-lineup {
					LI {
						color: $update-red-card-dark-text;
					}
				}
			}
		
			.source {
				P {
					color: $update-red-card-dark-text;
				}
			}
		}
				
		&.yellow-card {		
			background: $update-yellow-card;
			border-color: $update-yellow-card-dark;
			
			* {
				color: $black;
			}
			
			P {
				&.tweet-this-post {
					A {
						color: $black;
					}
				}
			}
			
			IMG {
				&.source-icon {
					border-color: $update-yellow-card-dark;
				}
			}
		
			UL {
				.match-lineup {
					LI {
						color: $update-yellow-card-dark-text;
					}
				}
			}
		
			.source {
				P {
					color: $update-yellow-card-dark-text;
				}
			}
		}
	
		&.statistic {
			background: url(/assets/images/repeater-gray-pattern.gif) repeat left top;
			
			* {
				color: $white;
			}			
			
			P {
				&.tweet-this-post {
					A {
						color: $white;
					}
				}
				
				&.time-type {
					background: $gray5;
					
					STRONG {
						color: $white;
					}
				}
			}
			
			IMG {
				&.source-icon {
					border-color: $update-statistic-dark;
				}
			}
			
			.chart {
				* {
					overflow: visible;
				}
				
				UL {
					background: $gray5;
					margin: 10px 0 20px 0;
					padding: 5px 0;
					
					LI {
						background-image: url(/assets/images/square-home-team.gif); 
						background-position: right center;
						background-repeat: no-repeat;
						color: $white;
						float: left;
						text-align: right;
						width: 49%;
						
						&:last-of-type {
							background-image: url(/assets/images/square-away-team.gif);
							background-position: left center;
							float: right;
							text-align: left;
							
							SPAN {
								padding-left: 20px;
							}
						}
						
						SPAN {
							display: block;
							padding-right: 20px;
						}
					}
				}
				
				.chart-inner {
					height: 200px;
				}
			}
		}

		H2 {
			color: inherit;
			font-size: 1.4em;
			line-height: 1.4em;
			padding-top: 10px;
		}

		.source {
			* {
				position: absolute;
			}
						
			IMG {
				margin-top: 0;
			}
			
			P {
				color: $gray3;
				font-size: 0.9em;
				font-weight: bold;
				left: 0;
				margin-top: 0;
				text-align: center;
				text-transform: uppercase;
				top: 105px;				
				
				SPAN {
					color: inherit;
					display: block;
					font-size: inherit;
					font-weight: normal;
					position: relative;
					text-transform: none;
					
					&.by {
						display: none;
					}
				}
			}
		}

		.inner {
			padding-top: 0;
		}
		
		A {
			&.toggle {
				background-repeat: no-repeat;				
				display: block;
				height: 14px;
				outline: 0;
				position: absolute;
				right: 10px;
				text-indent: -9999px;
				top: 44px;
				width: 21px;
								
				&.expanded {
					background-position: left top;
				}
				
				&.contracted {
					background-position: left -14px;
				}
				
				&.animating {
					cursor: default;
					
				}
			}
		}
	
		P {
			font-size: 1.4em;
			line-height: 1.4em;
			margin-top: $global-margin-compressed;
			
			* {
				font-size: inherit;
			}
			
			&.time-type {
				background: url(/assets/images/transparencies/000000/percent-20.png) repeat left top;
				@include mirror-condensed-regular;				
				font-size: 1em;
				height: 24px;
				margin-top: 0;
				
				SPAN {
					background: #141414;
					color: $white;
					float: left;
					font-size: 1.1em;
					font-weight: bold;
					height: 17px;	
					padding: 3px 0 4px 0;					
					text-align: center;
				}
				
				EM {					
					background-position: left top;
					background-repeat: no-repeat;
					display: block;
					float: left;
					height: 23px;
					text-indent: -9999px;
					width: 23px;
				}
				
				STRONG {
					color: $black;
					float: right;
					font-size: 1.1em;
					font-weight: bold;
					padding: 3px 10px 0 5px;
					text-transform: uppercase;
				}
			}
			
			&.tweet-this-post {	
				margin-top: 15px;
				
				A {
					background-position: left center;
					background-repeat: no-repeat;					
					color: $green;
					display: block;
					font-size: 0.9em;					
					text-decoration: underline;
					text-transform: uppercase;					
				}
			}
		}	
	
		IMG {
			display: block;
			margin-top: $global-margin;
			width: 100%;
			
			&.source-icon {
				background-color: #fff;
				border-color: $gray2;
				border-style: solid;
				border-width: 1px;
				@include border-radius-30px;
				position: absolute;
				top: 45px;
			}
		}
	
		UL {
			@include clearfix;
			margin-right: 30px;
			padding-top: 10px;
			
			.match-lineup {
				SPAN {
					display: none;
				}
				
				LI {
					color: $gray3;
					float: left;
					min-height: 20px;
				}
			}
		}
	
		DIV {
			&.inline-image {
				position: relative;

				&.portrait {
					margin: 0 auto;
					width: 70%;
				}
				
				P {
					background: url(/assets/images/transparencies/000000/percent-70.png) repeat left top;
					bottom: 0;
					color: $white;
					font-size: 0.85em;
					line-height: 1;
					margin: 0;
					padding: 5px 8px 4px 8px;
					position: absolute;
					right: 0;
					text-transform: uppercase;
				}
			}
		}
	
		FIGURE {
			display: block;
			margin: 0;
			
			FIGCAPTION {
				font-size: 1.2em;
				font-weight: bold;
				margin-top: 5px;
			}
		}
	}
}

/* Footer bar */
/* Line Ups */

.line-ups {
	H3 {
		display: none;
	}
	
	UL {
		@include clearfix;
		
		>LI {
			width: 49%;
			
			.badges-header {
				margin-bottom: 10px;
				
				H4 {
					@include team-badges;
					margin: 0 auto;
				}
				
				STRONG {
					color: $white;
					display: block;
					@include mirror-condensed-regular;
					font-size: 2em;
					text-align: center;
				}
			}
			
			&.home {
				float: left;
			}
			
			&.away {
				float: right;
			}
			
			H4 {
				color: #fff;
				@include mirror-condensed-regular;
				
				&.substitutions {
					color: $white;
					font-size: 2em;
					margin-top: 10px;
					text-align: center;
				}
			}
			
			OL {
				>LI {
					padding: 10px;
					position: relative;
					
					&:nth-child(odd) {
						background: $gray5;
					}
					
					SPAN {
						color: $white;
						display: block;
						float: left;
					}
					
					IMG {
						height: 24px;
						position: absolute;
						top: 6px;
						width: 18px;
					}
					
					UL {
						float: right;
						
						LI {
							background-position: center center;
							background-repeat: no-repeat;
							float: left;
							height: 15px;
							margin-left: 5px;
							text-indent: -9999px;
							
							&.goalkeeper {
								background-image: url(/assets/images/line-up-icons/goalkeeper.png);
								width: 24px;
							}
							
							&.substitute-on {
								background-image: url(/assets/images/line-up-icons/substitute-on.png);
								width: 17px;
							}
							
							&.substitute-off {
								background-image: url(/assets/images/line-up-icons/substitute-off.png);
								width: 17px;
							}
							
							&.yellow-card {
								background-image: url(/assets/images/line-up-icons/yellow-card.png);
								width: 11px;
							}
							
							&.red-card {
								background-image: url(/assets/images/line-up-icons/red-card.png);
								width: 11px;
							}
							
							&.goal-scorer {
								background-image: url(/assets/images/line-up-icons/goal-scorer.png);
								width: 12px;
							}
						}
					}
				}
			}
		}
	}
}

/* Facts */

.facts {
	H3 {
		display: none;
	}
	
	UL {		
		>LI {
			color: #fff;
			font-size: 1.2em;
			padding-bottom: 15px;
			padding-top: 15px;
			
			&:nth-child(even) {
				background: $gray5;
			}
		}
	}
}

/* Match preview */

.match-preview {
	H3 {
		display: none;
	}
	
	.teams {
		margin: 10px auto;
		width: 600px;
		
		UL {
			float: left;
			text-align: center;
			width: 100px;
			
			* {
				color: $gray2;
				font-size: 0.9em;
			}
			
			.team-badges {
				@include team-badges;
				margin: 0 auto 5px auto;
			}
		}
		
		DIV {
			float: left;			
			width: 400px;
			
			* {
				color: $gray2;
				display: block;
				text-align: center;
			}
			
			H4,
			SPAN {
				color: $gray2;
			}
			
			STRONG {
				color: $white;
				@include mirror-condensed-regular;
				font-size: 2.4em;
				margin-top: 5px;
			}
		}
	}
}

/* Match preview > Match listing */

OL.match-listing {
	LI {
		margin-top: 10px;
		position: relative;
		
		&:first-of-type {
			margin-top: 0;
		}
		
		SPAN {
			background: $gray5;
			color: $white;
			display: block;
			font-weight: bold;
			margin-bottom: 5px;
			padding: 5px 10px;
			text-align: center;
		}
		
		TABLE {
			THEAD {
				display: none;
			}
			
			TD {
				color: $green;
				text-align: center;
				width: 10%;
				
				&:first-of-type,
				&:last-of-type {
					color: $white;
					/*color: $green;*/
					width: 40%;
				}
				
				&:first-of-type {
					text-align: right;
				}
				
				&:last-of-type {
					text-align: left;
				}
				
				UL {
					LI {
						color: $gray2;
						font-size: 0.9em;
						margin-top: 0;
					}
				}
			}
		}
	}
}

/* Last 6 matches */

.last-6-matches {
	@include clearfix;
	
	.badges-header {
		display: none; 
		
		H4 {
			@include team-badges;
			color: $white;
			margin: 0 auto;
		}
		
		STRONG {
			color: $white;
			display: block;
			@include mirror-condensed-regular;
			font-size: 2em;
			text-align: center;
		}
	}
	
	.home {
		float: left;
		width: 49%;
	}
	
	.away {
		float: right;
		width: 49%;
	}
}

/* Previous meetings */

.previous-meetings {
	.badges-header {
		display: none;
		margin-bottom: 15px;
		
		LI {
			float: left;
			height: 50px;
			text-indent: -9999px;
			width: 49%;
			
			&:first-of-type {
				STRONG {
					float: right;
				}
			}
			
			&:last-of-type {
				float: right;
			}
			
			STRONG {
				@include team-badges;
				display: block;
				float: left;
				height: 50px;
				width: 50px;
			}
		}
	}
}

/* Top scorers */

.top-scorers {
	@include clearfix;
		
	.badges-header {
		display: none; 
		
		H4 {
			@include team-badges;
			color: $white;
			margin: 0 auto;
		}
		
		STRONG {
			color: $white;
			display: block;
			@include mirror-condensed-regular;
			font-size: 2em;
			text-align: center;
		}
	}
	
	.home {
		float: left;
		width: 49%;
	}
	
	.away {
		float: right;
		width: 49%;
	}
	
	TABLE {			
		TH,
		TD {
			color: $white;
			padding: 5px 10px;
		}
		
		THEAD {
			background: $gray5;
			
			TH {
				font-weight: bold;
				
				&:last-of-type {
					text-align: center;
				}
			}
		}
		
		TBODY {
			TR {
				&:nth-child(even) {
					background: $gray5;
				}
			}
			
			TD {
				&:last-of-type {
					text-align: center;
				}
			}
		}
	}
}

/* Next 3 matches */

.next-3-matches {
	@include clearfix;
		
	.badges-header {
		display: none; 
		
		H4 {
			@include team-badges;
			color: $white;
			margin: 0 auto;
		}
		
		STRONG {
			color: $white;
			display: block;
			@include mirror-condensed-regular;
			font-size: 2em;
			text-align: center;
		}
	}
	
	.home {
		float: left;
		width: 49%;
	}
	
	.away {
		float: right;
		width: 49%;
	}
}

/* Match stats */

.match-stats {
	H3 {
		display: none;
	}
}

/* Panel */
/* Footer */

#footer {
	background: url(/assets/images/transparencies/000000/percent-50.png) repeat left top;
	
	.inner {
		@include clearfix;
		margin: 0 auto;
		
		DIV {
			float: left;
			min-height: 100px;
			padding: 30px 40px;
			
			LI {
				A {
					color: $white;
					@include mirror-condensed-regular;
					font-size: 1.6em;
					line-height: 1.8em;
					word-wrap: break-word;
				}
			}
			
			&#footer-links {
				@include clearfix;
				
				LI {
					float: left;
				}
			}

			&#social-links {
				LI {
					margin-bottom: 10px;
					
					&.facebook {
						A {
							background-image: url(/assets/images/social-network-page-icons/facebook.png);
						}
					}
					
					&.twitter {
						A {
							background-image: url(/assets/images/social-network-page-icons/twitter.png);
						}
					}
					
					A {
						background-position: left top;
						background-repeat: no-repeat;
						display: block;
						min-height: 38px;
						padding-left: 50px;
						padding-top: 2px;
						
						&:hover {
							background-position: left -40px;
						}
					}
					
					SPAN {
						color: $gray2;
						font: inherit;
					}
				}
			}
			
			&#footer-logo {
				P {
					background-image: url(/assets/images/mirror-football.png);
					background-position: center center;
					background-repeat: no-repeat;					
					height: 77px;
					margin: 0 auto;
					text-indent: -9999px;
					width: 203px;
				}
			}
		}
	}
}

/* Debug logger */
 
#logger { 
	background: none repeat scroll 0 0 #f4f4f4;
	border: 1px solid #dedede;
	@include border-radius-10px;
	bottom: 5%;
	box-shadow: 1px 1px 5px 1px #ccc;
	display: none;
	left: 5%;
	position: fixed;
	width: 90%;
	z-index: 9999;
	
	H4 {
		font-weight: bold;
		padding: 10px 10px 0 10px;
		text-transform: uppercase;	
		
		A {
			color: $green;
			margin-left: 10px;
			outline: none;
		}
	}
	
	.inner {
		height: 100px;
		margin: $global-margin-compressed 5px 5px 0;
		overflow-y: auto;
		padding: 0 10px;	
	}
}

/* Debug mode */

.debug {
	#mode-dimensions {
		display: block;
	}
	
	#logger {
		display: block;
	}
}