/* Global > Mixins */

@mixin box-sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin border-radius-5px {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;	
	border-radius: 5px;
}

@mixin border-radius-10px { 
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;	
	border-radius: 10px;
}

@mixin border-radius-20px {
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;	
	border-radius: 20px;
}

@mixin border-radius-30px {
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;	
	border-radius: 30px;
}

@mixin clearfix {
	&:after {
		clear: both;
		content: ".";
		display: block;
		height: 0;	
		visibility: hidden;
	}
}

@mixin clear-floats {
	clear: both;
}

@mixin gray-pattern {
	background: url(/assets/images/repeater-gray-pattern.gif) repeat left top;
}

@mixin mirror-condensed-bold { 
	font-family: 'mirror-condensed-bold', sans-serif;
}

@mixin mirror-condensed-semi-bold { 
	font-family: 'mirror-condensed-semi-bold', sans-serif;
}

@mixin mirror-condensed-regular { 
	font-family: 'mirror-condensed-regular', sans-serif;
}

@mixin pt-sans {
	font-family: 'PT Sans', sans-serif;
}

/* Team badges */

@mixin team-badges {
	background-image: url(/assets/images/team-badges.png);
	background-repeat: no-repeat;
	display: block;
	height: 50px;
	text-indent: -9999px;
	width: 50px;
	
	&.arsenal  {background-position: center 0;}
	&.aston-villa  {background-position: center -50px;}
	&.cardiff-city  {background-position: center -100px;}
	&.chelsea  {background-position: center -150px;}
	&.crystal-palace  {background-position: center -200px;}
	&.everton  {background-position: center -250px;}
	&.fulham  {background-position: center -300px;}
	&.hull-city  {background-position: center -350px;}
	&.liverpool  {background-position: center -400px;}
	&.manchester-city  {background-position: center -450px;}
	&.manchester-united  {background-position: center -500px;}
	&.newcastle-united  {background-position: center -550px;}
	&.norwich-city  {background-position: center -600px;}
	&.southampton  {background-position: center -650px;}
	&.stoke-city  {background-position: center -700px;}
	&.sunderland  {background-position: center -750px;}
	&.swansea-city  {background-position: center -800px;}
	&.tottenham-hotspur  {background-position: center -850px;}
	&.west-bromwich-albion  {background-position: center -900px;}
	&.west-ham-united  {background-position: center -950px;}
}

/* Team badges > Retina overrides */

@mixin retina-team-badges {
	background-image: url(/assets/images/retina/team-badges.png);
	background-size: 100% auto;
}

/* Tweets */

@mixin tweet-white {
	background-image: url(/assets/images/tweets/white.png);
}

@mixin tweet-black {
	background-image: url(/assets/images/tweets/black.png);
}

@mixin tweet-green {
	background-image: url(/assets/images/tweets/green.png);
}

/* Retina overrides > Tweets */

@mixin retina-tweet-white {
	background-image: url(/assets/images/retina/tweets/white.png);
}

@mixin retina-tweet-black {
	background-image: url(/assets/images/retina/tweets/black.png);
}

@mixin retina-tweet-green {
	background-image: url(/assets/images/retina/tweets/green.png);
}

@mixin retina-tweet-this-post {
	background-image: url(/assets/images/retina/tweets/green.png);
	background-position: left center;
	background-size: auto 100%;
	padding-left: 30px;
}

@mixin tweet-this-post {
	background-image: url(/assets/images/tweets/green.png);
	padding-left: 20px;
}

/* News feed toggles */

@mixin news-feed {
	background-image: url(/assets/images/news-feed-toggle/gray.png);
}

@mixin news-feed-blue {
	background-image: url(/assets/images/news-feed-toggle/blue.png);
}

@mixin news-feed-brown {
	background-image: url(/assets/images/news-feed-toggle/brown.png);
}

@mixin news-feed-green {
	background-image: url(/assets/images/news-feed-toggle/green.png);
}

@mixin news-feed-red {
	background-image: url(/assets/images/news-feed-toggle/red.png);
}

@mixin news-feed-yellow {
	background-image: url(/assets/images/news-feed-toggle/yellow.png);
}

/* Retina overrides > News feed toggles */

@mixin retina-news-feed {
	background-image: url(/assets/images/retina/news-feed-toggle/gray.png);
}

@mixin retina-news-feed-blue {
	background-image: url(/assets/images/retina/news-feed-toggle/blue.png);
}

@mixin retina-news-feed-brown {
	background-image: url(/assets/images/retina/news-feed-toggle/brown.png);
}

@mixin retina-news-feed-green {
	background-image: url(/assets/images/retina/news-feed-toggle/green.png);
}

@mixin retina-news-feed-red {
	background-image: url(/assets/images/retina/news-feed-toggle/red.png);
}

@mixin retina-news-feed-yellow {
	background-image: url(/assets/images/retina/news-feed-toggle/yellow.png);
}

@mixin flip-toggle-switch {
	LABEL.iPhoneCheckLabelOn {
		background-image: url(/assets/images/retina/flip-toggle-switch/iphone-style-checkboxes/on.png);
	}

	LABEL.iPhoneCheckLabelOff {
		background-image: url(/assets/images/retina/flip-toggle-switch/iphone-style-checkboxes/off.png);
	}

	.iPhoneCheckHandle {
		background-image: url(/assets/images/retina/flip-toggle-switch/iphone-style-checkboxes/slider-left.png);
	}
	
	.iPhoneCheckHandleRight {
		background-image: url(/assets/images/retina/flip-toggle-switch/iphone-style-checkboxes/slider-right.png);
	}
	
	.iPhoneCheckHandleCenter {
		background-image: url(/assets/images/retina/flip-toggle-switch/iphone-style-checkboxes/slider-center.png);
	}
}

/* Retina overrides > Line up icons */

@mixin retina-goalkeeper {
	background-image: url(/assets/images/retina/line-up-icons/goalkeeper.png);
}

@mixin retina-substitute-on {
	background-image: url(/assets/images/retina/line-up-icons/substitute-on.png);
}

@mixin retina-substitute-off {
	background-image: url(/assets/images/retina/line-up-icons/substitute-off.png);
}

@mixin retina-yellow-card {
	background-image: url(/assets/images/retina/line-up-icons/yellow-card.png);
}

@mixin retina-red-card {
	background-image: url(/assets/images/retina/line-up-icons/red-card.png);
}

@mixin retina-goal-scorer {
	background-image: url(/assets/images/retina/line-up-icons/goal-scorer.png);
}

/* Retina overrides > Dropdown bar */

@mixin retina-flyout-close {
	background-image: url(/assets/images/retina/flyout-close.png);
	background-size: 100% auto;
}

@mixin retina-triggers-arrow-right {
	background-image: url(/assets/images/retina/dropdown-bar/arrow-right.png);
	background-size: 100% auto;
}

/* Retina overrides > Social icons */

@mixin retina-social-icons-facebook {
	background-image: url(/assets/images/retina/social-icons/facebook.png);
	background-size: 100% auto;
}

@mixin retina-social-icons-twitter {
	background-image: url(/assets/images/retina/social-icons/twitter.png);
	background-size: 100% auto;
}

@mixin retina-social-icons-google {
	background-image: url(/assets/images/retina/social-icons/google.png);
	background-size: 100% auto;
}

/* Retina overrides > Team badges */

@mixin retina-team-badges {
	background-image: url(/assets/images/retina/team-badges.png);
	background-size: 100% auto;
}

/* Retina overrides > Arrows */

@mixin retina-down-arrow {
	background-image: url(/assets/images/retina/arrow-down.png);
	background-size: 100% auto;
}

/* Retina overrides > Social network page icons */

@mixin retina-social-network-page-icons-facebook {
	background-image: url(/assets/images/retina/social-network-page-icons/facebook.png);
	background-size: auto 200%;
}

@mixin retina-social-network-page-icons-twitter {
	background-image: url(/assets/images/retina/social-network-page-icons/twitter.png);
	background-size: auto 200%;
}

/* Retina overrides > Footer */

@mixin retina-footer-mirror-logo {
	background-image: url(/assets/images/retina/mirror-football.png);
	background-size: 100% auto;
}