/* Global variables > Colours */ 

$black: #000;
$red: #c00000;
$white: #fff;
$yellow: #f7e300;

/* Grays */

$gray1: #f1f1f1;
$gray2: #e0e0e0;
$gray3: #515151;
$gray4: #141414;
$gray5: #2f2e2e;

$body-colour: #515151;

$charcoal-splitter: #494b4c;

$green: #3c7f18;
$green-disabled: #d5e1c6;

$event: #fffc00;

/* Device type gutters */

$desktop-gutter: 10px;
$mobile-gutter: 15px;
$tablet-gutter: 20px;

/* Negative device type gutters */

$desktop-gutter-negative: -10px;
$mobile-gutter-negative: -15px;
$tablet-gutter-negative: -20px;

/* Highlighted update types */

$update-bias: #efefef;
$update-bias-dark: #cccccc;
$update-goal: #3c7f18;
$update-goal-dark: #306613;
$update-goal-dark-text: #82cf58;
$update-yellow-card: #ffd700;
$update-yellow-card-dark: #ccac00;
$update-yellow-card-dark-text: #887512;
$update-red-card: #e90e0e;
$update-red-card-dark: #ba0b0b;
$update-red-card-dark-text: #ffb5b5;
$update-you-say: #39a9e0;
$update-you-say-dark: #2e87b3;
$update-at-the-ground: #6a6141;
$update-at-the-ground-dark: #554e34;
$update-statistic-dark: #666;

/* Global variables > Margins */

$module-margin: 30px;
$global-margin: 20px;
$global-margin-compressed: 10px;

/* Countdown timer */

$countdown-background: #393939;