/* HTML5 fonts > Mirror Extra */
@font-face {
	font-family: 'mirror-condensed-bold';
	src: url(/assets/shared/fonts/mirror-condensed-bold/webfont.eot);
	src: url(/assets/shared/fonts/mirror-condensed-bold/webfont.eot?#iefix) format("embedded-opentype"), url(/assets/shared/fonts/mirror-condensed-bold/webfont.woff) format("woff"), url(/assets/shared/fonts/mirror-condensed-bold/webfont.ttf) format("truetype"), url(/assets/shared/fonts/mirror-condensed-bold/webfont.svg#webfont) format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'mirror-condensed-semi-bold';
	src: url(/assets/shared/fonts/mirror-condensed-semi-bold/webfont.eot);
	src: url(/assets/shared/fonts/mirror-condensed-semi-bold/webfont.eot?#iefix) format("embedded-opentype"), url(/assets/shared/fonts/mirror-condensed-semi-bold/webfont.woff) format("woff"), url(/assets/shared/fonts/mirror-condensed-semi-bold/webfont.ttf) format("truetype"), url(/assets/shared/fonts/mirror-condensed-semi-bold/webfont.svg#MirrorExtraCondSemiBold) format("svg");
}

@font-face {
	font-family: 'mirror-condensed-regular';
	src: url(/assets/shared/fonts/mirror-condensed-regular/webfont.eot);
	src: url(/assets/shared/fonts/mirror-condensed-regular/webfont.eot?#iefix) format("embedded-opentype"), url(/assets/shared/fonts/mirror-condensed-regular/webfont.woff) format("woff"), url(/assets/shared/fonts/mirror-condensed-regular/webfont.ttf) format("truetype"), url(/assets/shared/fonts/mirror-condensed-regular/webfont.svg#webfont) format("svg");
	font-weight: 300;
	font-style: normal;
}
