/* Import variables and mixins */
/* Global variables > Colours */
/* Grays */
/* Device type gutters */
/* Negative device type gutters */
/* Highlighted update types */
/* Global variables > Margins */
/* Countdown timer */
/* Global > Mixins */
/* Team badges */
/* Team badges > Retina overrides */
/* Tweets */
/* Retina overrides > Tweets */
/* News feed toggles */
/* Retina overrides > News feed toggles */
/* Retina overrides > Line up icons */
/* Retina overrides > Dropdown bar */
/* Retina overrides > Social icons */
/* Retina overrides > Team badges */
/* Retina overrides > Arrows */
/* Retina overrides > Social network page icons */
/* Retina overrides > Footer */
/* Grid */
#wrapper {
	/* margin-top: 20px; (without Beta logo) */
	margin-top: 10px;
}

#outer {
	margin: 0 auto;
	position: relative;
}

#content {
	position: relative;
}

/* Global */
#beta {
	background: #3c7f18;
	box-shadow: 0 0 5px black;
	height: 22px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}
#beta P {
	padding-top: 3px;
	text-align: center;
}
#beta P A {
	background: url(/assets/images/beta-chevron.gif) no-repeat right center;
	color: #fff;
	display: inline-block;
	padding-right: 10px;
	text-align: center;
	text-transform: uppercase;
}

BODY,
* {
	font-family: 'PT Sans';
}

BODY {
	background-attachment: fixed;
	background-image: url(/assets/images/page-background.jpg);
	background-repeat: repeat left top;
}
BODY.match-detail {
	margin-bottom: 50px;
}
BODY.locked #header UL LI A {
	background-color: #d5e1c6;
	cursor: default;
}
BODY.pinnedToTop #page {
	padding-top: 110px;
}
BODY.pinnedToTop #header {
	box-shadow: 0 0 5px black;
	position: fixed;
	top: 0;
	z-index: 4;
}

H1 {
	background-image: url(/assets/images/mirror-football-beta.png);
	/* background-image: url(/assets/images/mirror-football.png); (without Beta logo) */
	background-position: center center;
	background-repeat: no-repeat;
	height: 77px;
	/* height: 77px; (without Beta logo) */
	margin: 33px auto 0 auto;
	/* margin: 23px auto 0 auto; (without Beta logo) */
	text-indent: -9999px;
	width: 224px;
	/* width: 203px; (without Beta logo) */
}
H1 A {
	display: block;
	height: 100%;
	width: 100%;
}

HR {
	display: none;
}

.inner {
	min-height: 1px;
}
.inner:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

A {
	text-decoration: none;
}

TABLE,
TH,
TD {
	border-collapse: collapse;
	border: none;
	width: 100%;
}

.button {
	background: #3c7f18;
	color: white;
	cursor: pointer;
	display: block;
	font-family: 'mirror-condensed-regular', sans-serif;
	font-size: 2em;
	padding-top: 2px;
	text-align: center;
}
.button SPAN {
	color: inherit;
	font: inherit;
}

#site-loader {
	background: white;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 6;
}

#websockets-monitor {
	background: url(/assets/images/transparencies/000000/percent-60.png) repeat left top;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	bottom: 10px;
	left: 10px;
	padding: 5px;
	position: fixed;
	z-index: 6;
}
#websockets-monitor H4 {
	color: white;
	font-family: 'mirror-condensed-bold', sans-serif;
	font-size: 2em;
}
#websockets-monitor UL LI {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: white;
	margin-bottom: 5px;
	padding: 5px;
}
#websockets-monitor UL LI.open {
	background: #3c7f18;
}
#websockets-monitor UL LI.closed {
	background: #c00000;
}
#websockets-monitor UL LI:last-of-type {
	border-bottom: none;
}

IFRAME.twitter-tweet {
	margin: 20px auto 0 auto !important;
	/* Twitter allows only a maximum width of 500px for their embedded objects, and that is specified inline, hence the need for !important, to supersede this */
}

/* Global > Custom scrollbars */
/* Global > Module */
.module {
	background: url(/assets/images/repeater-gray-pattern.gif) repeat left top;
	margin-bottom: 30px;
}
.module H3 {
	background: url(/assets/images/module-heading-down-arrow.png) no-repeat center bottom;
	padding-bottom: 8px;
}
.module H3 STRONG {
	background: #2f2e2e;
	color: white;
	display: block;
	font-family: 'mirror-condensed-regular', sans-serif;
	font-size: 2.4em;
	padding: 5px 10px 3px 10px;
	text-align: center;
}
.module .inner {
	background: url(/assets/images/repeater-gray-pattern.gif) repeat left top;
	padding: 10px;
}
.module .footer {
	background: #2f2e2e;
	padding: 10px;
}
.module .footer * {
	color: white;
}

/* Global > Tabs */
.tabs {
	position: relative;
}
.tabs:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.tabs .tab-content {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.tabs .tab-content.module {
	margin-bottom: 0;
}
.tabs .tab-content .inner {
	outline: none;
	padding: 0;
}
.tabs > .tab-triggers {
	background: #2f2e2e;
	height: 50px;
}
.tabs > .tab-triggers LI A {
	border-left: solid 1px #515151;
	font-size: 2.4em;
	height: 45px;
	padding: 5px 80px 0 80px;
}
.tabs > .tab-triggers LI:last-of-type A {
	border-right: solid 1px #515151;
}
.tabs .close {
	background: #3c7f18 url(/assets/images/close-cross.png) no-repeat right top;
	color: white;
	font-family: 'mirror-condensed-semi-bold', sans-serif;
	font-size: 2.2em;
	line-height: 1em;
	padding: 6px 55px 0 20px;
	position: absolute;
	right: 10px;
	text-transform: uppercase;
	top: 6px;
}

/* Global > Tabs (internal) */
.tabs-internal > .tab-triggers {
	background: #3c7f18;
}
.tabs-internal > .tab-triggers LI {
	margin-top: 5px;
}
.tabs-internal > .tab-triggers LI A {
	border-left: solid 1px #515151;
	font-size: 1.8em;
	padding: 5px 40px;
}
.tabs-internal > .tab-triggers LI:last-of-type A {
	border-right: solid 1px #515151;
}

/* Global > Tab triggers */
.tab-triggers {
	font-size: 0;
	text-align: center;
}
.tab-triggers LI {
	display: inline-block;
}
.tab-triggers LI A {
	color: white;
	display: block;
	font-family: 'mirror-condensed-regular', sans-serif;
}
.tab-triggers LI.loading {
	background: url(/assets/images/footer-bar/loading.gif) no-repeat 10px center;
}
.tab-triggers LI.active A {
	background: url(/assets/images/repeater-gray-pattern.gif) repeat left top;
	cursor: default;
}

/* Global > Mode dimensions */
#mode-dimensions {
	background: url(/assets/images/transparencies/ffffff/percent-60.png) repeat left top;
	border: solid 1px #777;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	left: 10px;
	padding: 5px;
	position: fixed;
	top: 10px;
	z-index: 4;
}
#mode-dimensions STRONG {
	color: black;
	font-weight: bold;
}
#mode-dimensions #mode {
	font-weight: bold;
}
#mode-dimensions SPAN {
	text-transform: uppercase;
}

/* Global > Split bar */
.split-bar {
	margin: 0 auto;
	padding-bottom: 12px;
	padding-top: 6px;
}
.split-bar:nth-child(even) {
	background: #2f2e2e;
}
.split-bar.loaded UL {
	background: white;
}
.split-bar.loaded UL LI:last-of-type {
	display: none;
}
.split-bar H4 {
	color: white;
	display: block;
	font-size: 1.1em;
	margin-bottom: 5px;
	text-align: center;
}
.split-bar .outer {
	background: inherit;
	margin: 0 auto;
}
.split-bar .outer STRONG {
	color: white;
	float: left;
	text-align: center;
	width: 15%;
}
.split-bar .outer STRONG SPAN {
	display: none;
}
.split-bar .outer UL {
	float: left;
	margin-top: 4px;
	width: 70%;
}
.split-bar .outer UL LI {
	height: 10px;
	text-indent: -9999px;
}
.split-bar .outer UL LI:first-of-type {
	background: #3c7f18;
	float: left;
}
.split-bar .outer UL LI:last-of-type {
	background: white;
	float: right;
}

/* Global > Split bar key */
.split-bar-key {
	margin: 10px 0 20px 0;
}
.split-bar-key * {
	color: white;
}
.split-bar-key UL:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.split-bar-key UL LI {
	background: url(/assets/images/square-home-team.gif) no-repeat right 3px;
	float: left;
	text-align: right;
	width: 49%;
}
.split-bar-key UL LI.away-team {
	background: url(/assets/images/square-away-team.gif) no-repeat left 3px;
	float: right;
	text-align: left;
}
.split-bar-key UL LI.away-team STRONG {
	padding-left: 25px;
}
.split-bar-key UL LI STRONG {
	display: block;
	padding-right: 25px;
}

/* Global > League table */
.league-table {
	/*
	<ul>
		<li><strong>Games played: </strong>Pld</li>
		<li><strong>Points: </strong>Pts</li>
	</ul>
	*/
}
.league-table UL.legend {
	float: right;
}
.league-table UL.legend LI {
	color: #fff;
	float: left;
	font-size: 1.1em;
	padding: 3px 5px 5px 5px;
	text-align: center;
	width: 18px;
}
.league-table UL.legend LI STRONG {
	display: none;
}
.league-table OL {
	background: url(/assets/images/league-table-row-repeater.gif) repeat left top;
	height: 500px;
	position: relative;
	width: 100%;
}
.league-table OL LI {
	color: #fff;
	font-size: 1.1em;
	height: 25px;
	left: 0;
	position: absolute;
	width: 100%;
}
.league-table OL LI.active {
	background: #3c7f18;
}
.league-table OL LI STRONG {
	color: inherit;
	display: block;
	float: left;
	font-size: inherit;
	padding-left: 10px;
	padding-top: 3px;
	width: 20px;
}
.league-table OL LI H4 {
	color: inherit;
	float: left;
	font-size: inherit;
	padding-left: 10px;
	padding-top: 3px;
}
.league-table OL LI UL {
	color: #fff;
	float: right;
}
.league-table OL LI UL LI {
	color: inherit;
	float: left;
	height: auto;
	padding: 3px 5px 0 5px;
	position: relative;
	text-align: center;
	width: 18px;
}
.league-table OL LI UL LI SPAN {
	display: none;
}
.league-table .footer {
	padding: 7px;
}
.league-table .footer P {
	font-size: 0.9em;
	text-align: right;
}

/* Global > In summary */
.in-summary .inner {
	padding: 0;
}

/* Outer most wrapper */
#page {
	margin-bottom: 20px;
	overflow: hidden;
}
#page > .inner {
	background: white;
}

/* Header */
#header {
	position: relative;
	z-index: 3;
}
#header #fixtures {
	background: #fff;
	width: 100%;
}
#header #fixtures .inline-link {
	display: none;
}
#header #fixtures UL {
	height: 0;
}
#header #fixtures UL LI.disabled A {
	background-position: center -90px;
	cursor: default;
}
#header #fixtures UL A {
	background-color: #3c7f18;
	background-position: center top;
	background-repeat: no-repeat;
	height: 90px;
	position: absolute;
	text-indent: -9999px;
	top: 0;
	width: 24px;
	z-index: 2;
}
#header #fixtures UL A.previous {
	background-image: url(/assets/images/scores-arrow-previous.png);
	border-right: solid 1px black;
	left: 0;
}
#header #fixtures UL A.next {
	background-image: url(/assets/images/scores-arrow-next.png);
	border-left: solid 1px black;
	right: 0;
}
#header #fixtures .outer {
	border-left: solid 1px transparent;
	/* Fixes mobile iOS interpolation error */
	overflow: hidden;
}
#header #fixtures .outer .inner {
	background: white;
	margin: 0 24px;
}
#header #fixtures .outer .inner .match {
	background: url(/assets/images/repeater-line.gif) repeat-y right top;
	float: left;
	position: relative;
}
#header #fixtures .outer .inner .match .event-update {
	display: none;
	height: 90px;
	left: 0;
	position: absolute;
	top: 0;
	z-index: 1;
}
#header #fixtures .outer .inner .match .event-update.yellow-card {
	background-color: #f7e300;
	color: black;
	/* Smaller, but on a single line */
}
#header #fixtures .outer .inner .match .event-update.yellow-card P {
	font-size: 2.4em;
	padding-top: 28px;
}
#header #fixtures .outer .inner .match .event-update.red-card {
	background-color: #c00000;
	color: white;
}
#header #fixtures .outer .inner .match .event-update.goal {
	background-color: #3c7f18;
	color: white;
}
#header #fixtures .outer .inner .match .event-update P {
	color: inherit;
	font-family: 'mirror-condensed-semi-bold', sans-serif;
	font-size: 3.4em;
	padding-top: 20px;
	text-align: center;
	text-transform: uppercase;
}
#header #fixtures .outer .inner .match H3 {
	display: none;
}
#header #fixtures .outer .inner .match .event {
	background: #fffc00;
	display: none;
	height: 38px;
	left: 0;
	padding-top: 10px;
	position: absolute;
	top: 22px;
	width: 100%;
	z-index: 1;
}
#header #fixtures .outer .inner .match .event STRONG {
	display: block;
	font-family: 'mirror-condensed-regular', sans-serif;
	font-size: 2em;
	font-style: italic;
	text-align: center;
	text-transform: uppercase;
}
#header #fixtures .outer .inner .match TABLE.active THEAD {
	background: url(/assets/images/repeater-active-match-heading.gif) repeat-x left bottom;
	border-right: solid 1px black;
}
#header #fixtures .outer .inner .match TABLE.active THEAD TH {
	background-image: url(/assets/images/repeater-active-match-top-border.gif);
	color: #3c7f18;
}
#header #fixtures .outer .inner .match TABLE.active TBODY {
	background: #2f2e2e;
}
#header #fixtures .outer .inner .match TABLE.active TBODY TH {
	color: white;
}
#header #fixtures .outer .inner .match TABLE.active TBODY TD {
	background: #2f2e2e;
	border-right: solid 1px black;
	color: white;
}
#header #fixtures .outer .inner .match TABLE THEAD {
	background: url(/assets/images/repeater-line.gif) repeat-x left bottom;
}
#header #fixtures .outer .inner .match TABLE THEAD TH {
	background-image: url(/assets/images/repeater-inactive-match-top-border.gif);
	background-position: left top;
	background-repeat: repeat-x;
	color: #3c7f18;
	font-size: 0.9em;
	padding: 7px 15px 4px 15px;
	text-transform: uppercase;
}
#header #fixtures .outer .inner .match TABLE TBODY {
	background: #f1f1f1;
	cursor: pointer;
}
#header #fixtures .outer .inner .match TABLE TBODY TD {
	background: #e0e0e0 url(/assets/images/repeater-line.gif) repeat-y right top;
	color: #3c7f18;
}
#header #fixtures .outer .inner .match TABLE TBODY TH,
#header #fixtures .outer .inner .match TABLE TBODY TD {
	color: #141414;
	font-family: 'mirror-condensed-semi-bold', sans-serif;
	font-size: 1.6em;
	line-height: 1em;
	padding: 10px 15px 0 15px;
}
#header #fixtures .outer .inner .match TABLE TBODY TR:last-of-type TH,
#header #fixtures .outer .inner .match TABLE TBODY TR:last-of-type TD {
	padding-bottom: 7px;
	padding-top: 5px;
}

/* Dropdown bar */
#dropdown-bar {
	background: white;
	border-bottom: solid 1px #e0e0e0;
	margin-top: 10px;
	overflow: visible;
	position: relative;
}
#dropdown-bar:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
#dropdown-bar #view-all-live-games {
	background: #3c7f18;
	color: white;
	display: block;
	float: left;
	font-family: 'mirror-condensed-regular', sans-serif;
	font-size: 1.6em;
	line-height: 1em;
	padding: 6px 30px 4px 30px;
}
#dropdown-bar > UL {
	margin-bottom: 10px;
}
#dropdown-bar > UL LI {
	border-left: solid 1px #e0e0e0;
	float: left;
	margin-left: 10px;
	padding-left: 10px;
	position: relative;
}
#dropdown-bar > UL LI:first-of-type {
	margin-left: 10px;
}
#dropdown-bar > UL LI#filter-posts {
	border: none;
}
#dropdown-bar > UL LI A {
	color: #3c7f18;
	display: inline-block;
	outline: none;
	padding: 8px 25px 0 0;
	text-transform: uppercase;
}
#dropdown-bar > UL LI SPAN {
	background-image: url(/assets/images/dropdown-bar-icons.gif);
	background-position: left top;
	background-repeat: no-repeat;
	cursor: pointer;
	display: block;
	height: 11px;
	position: absolute;
	right: 0;
	text-indent: -9999px;
	top: 11px;
	width: 18px;
}
#dropdown-bar > UL LI:hover SPAN {
	background-position: left -50px;
	color: #515151;
}
#dropdown-bar > UL LI.active SPAN {
	background-position: left -100px;
}
#dropdown-bar > UL LI.loading SPAN, #dropdown-bar > UL LI.loading:hover SPAN {
	background-image: url(/assets/images/retina/dropdown-bar/ajax-loader.gif);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: auto 100%;
	height: 16px;
	width: 16px;
}
#dropdown-bar #container-stats UL.triggers LI > A {
	float: none;
	position: relative;
}
#dropdown-bar #container-stats UL.triggers LI > A SPAN {
	background-image: url(/assets/images/dropdown-bar/arrow-right.png);
	background-position: left top;
	background-repeat: no-repeat;
	display: block;
	height: 15px;
	position: absolute;
	right: 10px;
	text-indent: -9999px;
	top: 10px;
	width: 10px;
}
#dropdown-bar .flyout-content {
	clear: both;
	left: -9999px;
	position: absolute;
	top: -9999px;
}
#dropdown-bar .flyout-content.loaded {
	left: auto;
	position: relative;
	top: auto;
}
#dropdown-bar .flyout-content UL.triggers > LI {
	cursor: pointer;
}
#dropdown-bar .flyout-content UL.triggers > LI:nth-child(odd) {
	background: #f1f1f1;
}
#dropdown-bar .flyout-content UL.triggers > LI:last-of-type {
	border-bottom: solid 1px #e0e0e0;
}
#dropdown-bar .flyout-content UL.triggers > LI.disabled A {
	color: red;
	cursor: default;
}
#dropdown-bar .flyout-content UL.triggers > LI > A {
	display: block;
	float: left;
	font-family: 'mirror-condensed-bold', sans-serif;
	font-size: 1.6em;
	padding-bottom: 5px;
	padding-top: 5px;
}
#dropdown-bar .flyout-content UL.triggers > LI .iPhoneCheckContainer {
	float: right;
	margin-top: 5px;
}
#dropdown-bar .flyout-content UL.triggers > LI .iPhoneCheckContainer LABEL {
	padding-top: 3px;
	text-transform: uppercase;
}
#dropdown-bar .flyout-content UL.triggers > LI DIV.module {
	box-shadow: rgba(0, 0, 0, 0.3) 0px 2px 5px;
	left: -100%;
	margin-bottom: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 3;
}
#dropdown-bar .flyout-content UL.triggers > LI DIV.module .close {
	background-image: url(/assets/images/flyout-close.png);
	background-position: left top;
	background-repeat: no-repeat;
	height: 48px;
	padding: 0;
	position: absolute;
	text-indent: -9999px;
	top: 0;
	width: 32px;
}
#dropdown-bar .flyout-content .league-table .legend LI {
	text-align: right;
}
#dropdown-bar .flyout-content .league-table .legend OL LI UL LI {
	text-align: right;
}
#dropdown-bar .flyout-content .league-table .footer {
	padding-bottom: 10px;
	padding-top: 10px;
}
#dropdown-bar .flyout-content .line-ups H3 {
	display: block;
}
#dropdown-bar .flyout-content .facts H3 {
	display: block;
}

/* Match summary */
#match-summary {
	position: relative;
}
#match-summary #toggle-goal-scorers {
	display: none;
}
#match-summary .separator {
	text-align: center;
}
#match-summary OL {
	background: #f1f1f1;
	padding: 5px 0;
}
#match-summary OL LI {
	float: left;
	width: 360px;
}
#match-summary OL LI SPAN,
#match-summary OL LI STRONG {
	float: left;
}
#match-summary OL LI SPAN {
	background-image: url(/assets/images/team-badges.png);
	background-repeat: no-repeat;
	display: block;
	height: 50px;
	text-indent: -9999px;
	width: 50px;
	margin-right: 5px;
	text-indent: -9999px;
}
#match-summary OL LI SPAN.arsenal {
	background-position: center 0;
}
#match-summary OL LI SPAN.aston-villa {
	background-position: center -50px;
}
#match-summary OL LI SPAN.cardiff-city {
	background-position: center -100px;
}
#match-summary OL LI SPAN.chelsea {
	background-position: center -150px;
}
#match-summary OL LI SPAN.crystal-palace {
	background-position: center -200px;
}
#match-summary OL LI SPAN.everton {
	background-position: center -250px;
}
#match-summary OL LI SPAN.fulham {
	background-position: center -300px;
}
#match-summary OL LI SPAN.hull-city {
	background-position: center -350px;
}
#match-summary OL LI SPAN.liverpool {
	background-position: center -400px;
}
#match-summary OL LI SPAN.manchester-city {
	background-position: center -450px;
}
#match-summary OL LI SPAN.manchester-united {
	background-position: center -500px;
}
#match-summary OL LI SPAN.newcastle-united {
	background-position: center -550px;
}
#match-summary OL LI SPAN.norwich-city {
	background-position: center -600px;
}
#match-summary OL LI SPAN.southampton {
	background-position: center -650px;
}
#match-summary OL LI SPAN.stoke-city {
	background-position: center -700px;
}
#match-summary OL LI SPAN.sunderland {
	background-position: center -750px;
}
#match-summary OL LI SPAN.swansea-city {
	background-position: center -800px;
}
#match-summary OL LI SPAN.tottenham-hotspur {
	background-position: center -850px;
}
#match-summary OL LI SPAN.west-bromwich-albion {
	background-position: center -900px;
}
#match-summary OL LI SPAN.west-ham-united {
	background-position: center -950px;
}
#match-summary OL LI STRONG {
	font-family: 'mirror-condensed-regular', sans-serif;
	font-size: 2.4em;
	padding-top: 5px;
}
#match-summary OL LI.home DIV {
	float: right;
}
#match-summary OL LI.separator {
	font-family: 'mirror-condensed-bold', sans-serif;
	font-size: 3em;
}
#match-summary OL LI.separator STRONG {
	display: none;
}
#match-summary OL LI.away DIV {
	float: left;
}
#match-summary OL LI.away DIV SPAN {
	float: right;
	margin-left: 5px;
	margin-right: 0;
}
#match-summary TABLE THEAD {
	display: none;
}
#match-summary TABLE TBODY TR:nth-child(even) {
	background: #f1f1f1;
}
#match-summary TABLE TBODY TR TD {
	font-weight: bold;
	padding: 3px 0;
}
#match-summary TABLE TBODY TR TD.home {
	text-align: right;
}
#match-summary #summary-statistics {
	border-bottom: solid 1px #e0e0e0;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
}
#match-summary #summary-statistics:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
#match-summary #summary-statistics LI {
	display: inline;
	margin: 0 5px;
}
#match-summary #summary-statistics LI STRONG {
	color: #3c7f18;
	font-weight: bold;
	text-transform: uppercase;
}

/* Match heading */
#match-heading {
	clear: both;
	margin-top: 10px;
	position: relative;
}
#match-heading H2 {
	color: #141414;
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 5px;
}
#match-heading P {
	color: #515151;
}
#match-heading #share-icons {
	position: absolute;
	top: 0;
	width: 106px;
}
#match-heading #share-icons:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
#match-heading #share-icons LI {
	float: left;
	margin-left: 5px;
}
#match-heading #share-icons LI:first-of-type {
	margin-left: 0;
}
#match-heading #share-icons LI A {
	background-position: left top;
	background-repeat: no-repeat;
	display: block;
	height: 32px;
	text-indent: -9999px;
	width: 32px;
}
#match-heading #share-icons LI A:hover {
	background-position: left -32px;
}

/* Countdown timer */
#countdown-timer {
	background-image: url(/assets/images/countdown-timer/repeater.gif);
	background-color: #393939;
	background-position: left top;
	background-repeat: repeat-x;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 20px 20px 5px 20px;
	width: 600px;
}
#countdown-timer H4 {
	color: white;
	font-family: 'mirror-condensed-bold', sans-serif;
	font-size: 2em;
	margin: 0 0 15px 0;
	text-align: center;
	text-transform: uppercase;
}
#countdown-timer .countdownHolder {
	height: 150px;
	margin: 0 auto;
	position: relative;
	width: 593px;
}
#countdown-timer .countdownHolder .position {
	display: block;
	float: left;
	height: 136px;
	overflow: hidden;
	position: relative;
	width: 74px;
}
#countdown-timer .countdownHolder .position .countWord {
	background-image: url(/assets/images/countdown-timer/words.png);
	background-repeat: no-repeat;
	height: 544px;
	left: 0;
	position: absolute;
	top: 0;
	width: 592px;
	z-index: 2;
}
#countdown-timer .countdownHolder .digit {
	background-image: url(/assets/images/countdown-timer/frame.png);
	background-position: left top;
	background-repeat: no-repeat;
	display: block;
	height: 8976px;
	position: absolute;
	width: 223px;
	z-index: 1;
}
#countdown-timer .countdownHolder > SPAN {
	float: left;
	height: 136px;
	width: 148px;
}

/* News feed */
#news-feed #new-updates {
	clear: both;
	margin-top: 20px;
}
#news-feed .inner {
	padding-top: 10px;
}
#news-feed .update {
	padding: 10px 0 10px 10px;
	position: relative;
}
#news-feed .update.escenic H2 {
	font-family: 'mirror-condensed-bold', sans-serif;
	font-size: 3em;
	line-height: 1em;
}
#news-feed .update * {
	color: #515151;
}
#news-feed .update.new-and-hidden, #news-feed .update.hidden {
	display: none;
}
#news-feed .update.promoted {
	border-top: solid 6px;
	margin-top: 0;
	padding-right: 10px;
}
#news-feed .update.promoted A.toggle {
	right: 20px;
	top: 45px;
}
#news-feed .update.goal {
	background: #3c7f18;
	border-color: #306613;
}
#news-feed .update.goal * {
	color: white;
}
#news-feed .update.goal IMG.source-icon {
	border-color: #306613;
}
#news-feed .update.goal P.time-type STRONG {
	color: white;
}
#news-feed .update.goal P.tweet-this-post A {
	background-position: left 4px;
	color: white;
}
#news-feed .update.goal UL .match-lineup LI {
	color: #82cf58;
}
#news-feed .update.goal .source P {
	color: #82cf58;
}
#news-feed .update.red-card {
	background: #e90e0e;
	border-color: #ba0b0b;
}
#news-feed .update.red-card * {
	color: white;
}
#news-feed .update.red-card P.tweet-this-post A {
	color: white;
}
#news-feed .update.red-card P.time-type STRONG {
	color: white;
}
#news-feed .update.red-card IMG.source-icon {
	border-color: #ba0b0b;
}
#news-feed .update.red-card UL .match-lineup LI {
	color: #ffb5b5;
}
#news-feed .update.red-card .source P {
	color: #ffb5b5;
}
#news-feed .update.yellow-card {
	background: gold;
	border-color: #ccac00;
}
#news-feed .update.yellow-card * {
	color: black;
}
#news-feed .update.yellow-card P.tweet-this-post A {
	color: black;
}
#news-feed .update.yellow-card IMG.source-icon {
	border-color: #ccac00;
}
#news-feed .update.yellow-card UL .match-lineup LI {
	color: #887512;
}
#news-feed .update.yellow-card .source P {
	color: #887512;
}
#news-feed .update.statistic {
	background: url(/assets/images/repeater-gray-pattern.gif) repeat left top;
}
#news-feed .update.statistic * {
	color: white;
}
#news-feed .update.statistic P.tweet-this-post A {
	color: white;
}
#news-feed .update.statistic P.time-type {
	background: #2f2e2e;
}
#news-feed .update.statistic P.time-type STRONG {
	color: white;
}
#news-feed .update.statistic IMG.source-icon {
	border-color: #666666;
}
#news-feed .update.statistic .chart * {
	overflow: visible;
}
#news-feed .update.statistic .chart UL {
	background: #2f2e2e;
	margin: 10px 0 20px 0;
	padding: 5px 0;
}
#news-feed .update.statistic .chart UL LI {
	background-image: url(/assets/images/square-home-team.gif);
	background-position: right center;
	background-repeat: no-repeat;
	color: white;
	float: left;
	text-align: right;
	width: 49%;
}
#news-feed .update.statistic .chart UL LI:last-of-type {
	background-image: url(/assets/images/square-away-team.gif);
	background-position: left center;
	float: right;
	text-align: left;
}
#news-feed .update.statistic .chart UL LI:last-of-type SPAN {
	padding-left: 20px;
}
#news-feed .update.statistic .chart UL LI SPAN {
	display: block;
	padding-right: 20px;
}
#news-feed .update.statistic .chart .chart-inner {
	height: 200px;
}
#news-feed .update H2 {
	color: inherit;
	font-size: 1.4em;
	line-height: 1.4em;
	padding-top: 10px;
}
#news-feed .update .source * {
	position: absolute;
}
#news-feed .update .source IMG {
	margin-top: 0;
}
#news-feed .update .source P {
	color: #515151;
	font-size: 0.9em;
	font-weight: bold;
	left: 0;
	margin-top: 0;
	text-align: center;
	text-transform: uppercase;
	top: 105px;
}
#news-feed .update .source P SPAN {
	color: inherit;
	display: block;
	font-size: inherit;
	font-weight: normal;
	position: relative;
	text-transform: none;
}
#news-feed .update .source P SPAN.by {
	display: none;
}
#news-feed .update .inner {
	padding-top: 0;
}
#news-feed .update A.toggle {
	background-repeat: no-repeat;
	display: block;
	height: 14px;
	outline: 0;
	position: absolute;
	right: 10px;
	text-indent: -9999px;
	top: 44px;
	width: 21px;
}
#news-feed .update A.toggle.expanded {
	background-position: left top;
}
#news-feed .update A.toggle.contracted {
	background-position: left -14px;
}
#news-feed .update A.toggle.animating {
	cursor: default;
}
#news-feed .update P {
	font-size: 1.4em;
	line-height: 1.4em;
	margin-top: 10px;
}
#news-feed .update P * {
	font-size: inherit;
}
#news-feed .update P.time-type {
	background: url(/assets/images/transparencies/000000/percent-20.png) repeat left top;
	font-family: 'mirror-condensed-regular', sans-serif;
	font-size: 1em;
	height: 24px;
	margin-top: 0;
}
#news-feed .update P.time-type SPAN {
	background: #141414;
	color: white;
	float: left;
	font-size: 1.1em;
	font-weight: bold;
	height: 17px;
	padding: 3px 0 4px 0;
	text-align: center;
}
#news-feed .update P.time-type EM {
	background-position: left top;
	background-repeat: no-repeat;
	display: block;
	float: left;
	height: 23px;
	text-indent: -9999px;
	width: 23px;
}
#news-feed .update P.time-type STRONG {
	color: black;
	float: right;
	font-size: 1.1em;
	font-weight: bold;
	padding: 3px 10px 0 5px;
	text-transform: uppercase;
}
#news-feed .update P.tweet-this-post {
	margin-top: 15px;
}
#news-feed .update P.tweet-this-post A {
	background-position: left center;
	background-repeat: no-repeat;
	color: #3c7f18;
	display: block;
	font-size: 0.9em;
	text-decoration: underline;
	text-transform: uppercase;
}
#news-feed .update IMG {
	display: block;
	margin-top: 20px;
	width: 100%;
}
#news-feed .update IMG.source-icon {
	background-color: #fff;
	border-color: #e0e0e0;
	border-style: solid;
	border-width: 1px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	position: absolute;
	top: 45px;
}
#news-feed .update UL {
	margin-right: 30px;
	padding-top: 10px;
}
#news-feed .update UL:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
#news-feed .update UL .match-lineup SPAN {
	display: none;
}
#news-feed .update UL .match-lineup LI {
	color: #515151;
	float: left;
	min-height: 20px;
}
#news-feed .update DIV.inline-image {
	position: relative;
}
#news-feed .update DIV.inline-image.portrait {
	margin: 0 auto;
	width: 70%;
}
#news-feed .update DIV.inline-image P {
	background: url(/assets/images/transparencies/000000/percent-70.png) repeat left top;
	bottom: 0;
	color: white;
	font-size: 0.85em;
	line-height: 1;
	margin: 0;
	padding: 5px 8px 4px 8px;
	position: absolute;
	right: 0;
	text-transform: uppercase;
}
#news-feed .update FIGURE {
	display: block;
	margin: 0;
}
#news-feed .update FIGURE FIGCAPTION {
	font-size: 1.2em;
	font-weight: bold;
	margin-top: 5px;
}

/* Footer bar */
/* Line Ups */
.line-ups H3 {
	display: none;
}
.line-ups UL:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.line-ups UL > LI {
	width: 49%;
}
.line-ups UL > LI .badges-header {
	margin-bottom: 10px;
}
.line-ups UL > LI .badges-header H4 {
	background-image: url(/assets/images/team-badges.png);
	background-repeat: no-repeat;
	display: block;
	height: 50px;
	text-indent: -9999px;
	width: 50px;
	margin: 0 auto;
}
.line-ups UL > LI .badges-header H4.arsenal {
	background-position: center 0;
}
.line-ups UL > LI .badges-header H4.aston-villa {
	background-position: center -50px;
}
.line-ups UL > LI .badges-header H4.cardiff-city {
	background-position: center -100px;
}
.line-ups UL > LI .badges-header H4.chelsea {
	background-position: center -150px;
}
.line-ups UL > LI .badges-header H4.crystal-palace {
	background-position: center -200px;
}
.line-ups UL > LI .badges-header H4.everton {
	background-position: center -250px;
}
.line-ups UL > LI .badges-header H4.fulham {
	background-position: center -300px;
}
.line-ups UL > LI .badges-header H4.hull-city {
	background-position: center -350px;
}
.line-ups UL > LI .badges-header H4.liverpool {
	background-position: center -400px;
}
.line-ups UL > LI .badges-header H4.manchester-city {
	background-position: center -450px;
}
.line-ups UL > LI .badges-header H4.manchester-united {
	background-position: center -500px;
}
.line-ups UL > LI .badges-header H4.newcastle-united {
	background-position: center -550px;
}
.line-ups UL > LI .badges-header H4.norwich-city {
	background-position: center -600px;
}
.line-ups UL > LI .badges-header H4.southampton {
	background-position: center -650px;
}
.line-ups UL > LI .badges-header H4.stoke-city {
	background-position: center -700px;
}
.line-ups UL > LI .badges-header H4.sunderland {
	background-position: center -750px;
}
.line-ups UL > LI .badges-header H4.swansea-city {
	background-position: center -800px;
}
.line-ups UL > LI .badges-header H4.tottenham-hotspur {
	background-position: center -850px;
}
.line-ups UL > LI .badges-header H4.west-bromwich-albion {
	background-position: center -900px;
}
.line-ups UL > LI .badges-header H4.west-ham-united {
	background-position: center -950px;
}
.line-ups UL > LI .badges-header STRONG {
	color: white;
	display: block;
	font-family: 'mirror-condensed-regular', sans-serif;
	font-size: 2em;
	text-align: center;
}
.line-ups UL > LI.home {
	float: left;
}
.line-ups UL > LI.away {
	float: right;
}
.line-ups UL > LI H4 {
	color: #fff;
	font-family: 'mirror-condensed-regular', sans-serif;
}
.line-ups UL > LI H4.substitutions {
	color: white;
	font-size: 2em;
	margin-top: 10px;
	text-align: center;
}
.line-ups UL > LI OL > LI {
	padding: 10px;
	position: relative;
}
.line-ups UL > LI OL > LI:nth-child(odd) {
	background: #2f2e2e;
}
.line-ups UL > LI OL > LI SPAN {
	color: white;
	display: block;
	float: left;
}
.line-ups UL > LI OL > LI IMG {
	height: 24px;
	position: absolute;
	top: 6px;
	width: 18px;
}
.line-ups UL > LI OL > LI UL {
	float: right;
}
.line-ups UL > LI OL > LI UL LI {
	background-position: center center;
	background-repeat: no-repeat;
	float: left;
	height: 15px;
	margin-left: 5px;
	text-indent: -9999px;
}
.line-ups UL > LI OL > LI UL LI.goalkeeper {
	background-image: url(/assets/images/line-up-icons/goalkeeper.png);
	width: 24px;
}
.line-ups UL > LI OL > LI UL LI.substitute-on {
	background-image: url(/assets/images/line-up-icons/substitute-on.png);
	width: 17px;
}
.line-ups UL > LI OL > LI UL LI.substitute-off {
	background-image: url(/assets/images/line-up-icons/substitute-off.png);
	width: 17px;
}
.line-ups UL > LI OL > LI UL LI.yellow-card {
	background-image: url(/assets/images/line-up-icons/yellow-card.png);
	width: 11px;
}
.line-ups UL > LI OL > LI UL LI.red-card {
	background-image: url(/assets/images/line-up-icons/red-card.png);
	width: 11px;
}
.line-ups UL > LI OL > LI UL LI.goal-scorer {
	background-image: url(/assets/images/line-up-icons/goal-scorer.png);
	width: 12px;
}

/* Facts */
.facts H3 {
	display: none;
}
.facts UL > LI {
	color: #fff;
	font-size: 1.2em;
	padding-bottom: 15px;
	padding-top: 15px;
}
.facts UL > LI:nth-child(even) {
	background: #2f2e2e;
}

/* Match preview */
.match-preview H3 {
	display: none;
}
.match-preview .teams {
	margin: 10px auto;
	width: 600px;
}
.match-preview .teams UL {
	float: left;
	text-align: center;
	width: 100px;
}
.match-preview .teams UL * {
	color: #e0e0e0;
	font-size: 0.9em;
}
.match-preview .teams UL .team-badges {
	background-image: url(/assets/images/team-badges.png);
	background-repeat: no-repeat;
	display: block;
	height: 50px;
	text-indent: -9999px;
	width: 50px;
	margin: 0 auto 5px auto;
}
.match-preview .teams UL .team-badges.arsenal {
	background-position: center 0;
}
.match-preview .teams UL .team-badges.aston-villa {
	background-position: center -50px;
}
.match-preview .teams UL .team-badges.cardiff-city {
	background-position: center -100px;
}
.match-preview .teams UL .team-badges.chelsea {
	background-position: center -150px;
}
.match-preview .teams UL .team-badges.crystal-palace {
	background-position: center -200px;
}
.match-preview .teams UL .team-badges.everton {
	background-position: center -250px;
}
.match-preview .teams UL .team-badges.fulham {
	background-position: center -300px;
}
.match-preview .teams UL .team-badges.hull-city {
	background-position: center -350px;
}
.match-preview .teams UL .team-badges.liverpool {
	background-position: center -400px;
}
.match-preview .teams UL .team-badges.manchester-city {
	background-position: center -450px;
}
.match-preview .teams UL .team-badges.manchester-united {
	background-position: center -500px;
}
.match-preview .teams UL .team-badges.newcastle-united {
	background-position: center -550px;
}
.match-preview .teams UL .team-badges.norwich-city {
	background-position: center -600px;
}
.match-preview .teams UL .team-badges.southampton {
	background-position: center -650px;
}
.match-preview .teams UL .team-badges.stoke-city {
	background-position: center -700px;
}
.match-preview .teams UL .team-badges.sunderland {
	background-position: center -750px;
}
.match-preview .teams UL .team-badges.swansea-city {
	background-position: center -800px;
}
.match-preview .teams UL .team-badges.tottenham-hotspur {
	background-position: center -850px;
}
.match-preview .teams UL .team-badges.west-bromwich-albion {
	background-position: center -900px;
}
.match-preview .teams UL .team-badges.west-ham-united {
	background-position: center -950px;
}
.match-preview .teams DIV {
	float: left;
	width: 400px;
}
.match-preview .teams DIV * {
	color: #e0e0e0;
	display: block;
	text-align: center;
}
.match-preview .teams DIV H4,
.match-preview .teams DIV SPAN {
	color: #e0e0e0;
}
.match-preview .teams DIV STRONG {
	color: white;
	font-family: 'mirror-condensed-regular', sans-serif;
	font-size: 2.4em;
	margin-top: 5px;
}

/* Match preview > Match listing */
OL.match-listing LI {
	margin-top: 10px;
	position: relative;
}
OL.match-listing LI:first-of-type {
	margin-top: 0;
}
OL.match-listing LI SPAN {
	background: #2f2e2e;
	color: white;
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px 10px;
	text-align: center;
}
OL.match-listing LI TABLE THEAD {
	display: none;
}
OL.match-listing LI TABLE TD {
	color: #3c7f18;
	text-align: center;
	width: 10%;
}
OL.match-listing LI TABLE TD:first-of-type, OL.match-listing LI TABLE TD:last-of-type {
	color: white;
	/*color: $green;*/
	width: 40%;
}
OL.match-listing LI TABLE TD:first-of-type {
	text-align: right;
}
OL.match-listing LI TABLE TD:last-of-type {
	text-align: left;
}
OL.match-listing LI TABLE TD UL LI {
	color: #e0e0e0;
	font-size: 0.9em;
	margin-top: 0;
}

/* Last 6 matches */
.last-6-matches:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.last-6-matches .badges-header {
	display: none;
}
.last-6-matches .badges-header H4 {
	background-image: url(/assets/images/team-badges.png);
	background-repeat: no-repeat;
	display: block;
	height: 50px;
	text-indent: -9999px;
	width: 50px;
	color: white;
	margin: 0 auto;
}
.last-6-matches .badges-header H4.arsenal {
	background-position: center 0;
}
.last-6-matches .badges-header H4.aston-villa {
	background-position: center -50px;
}
.last-6-matches .badges-header H4.cardiff-city {
	background-position: center -100px;
}
.last-6-matches .badges-header H4.chelsea {
	background-position: center -150px;
}
.last-6-matches .badges-header H4.crystal-palace {
	background-position: center -200px;
}
.last-6-matches .badges-header H4.everton {
	background-position: center -250px;
}
.last-6-matches .badges-header H4.fulham {
	background-position: center -300px;
}
.last-6-matches .badges-header H4.hull-city {
	background-position: center -350px;
}
.last-6-matches .badges-header H4.liverpool {
	background-position: center -400px;
}
.last-6-matches .badges-header H4.manchester-city {
	background-position: center -450px;
}
.last-6-matches .badges-header H4.manchester-united {
	background-position: center -500px;
}
.last-6-matches .badges-header H4.newcastle-united {
	background-position: center -550px;
}
.last-6-matches .badges-header H4.norwich-city {
	background-position: center -600px;
}
.last-6-matches .badges-header H4.southampton {
	background-position: center -650px;
}
.last-6-matches .badges-header H4.stoke-city {
	background-position: center -700px;
}
.last-6-matches .badges-header H4.sunderland {
	background-position: center -750px;
}
.last-6-matches .badges-header H4.swansea-city {
	background-position: center -800px;
}
.last-6-matches .badges-header H4.tottenham-hotspur {
	background-position: center -850px;
}
.last-6-matches .badges-header H4.west-bromwich-albion {
	background-position: center -900px;
}
.last-6-matches .badges-header H4.west-ham-united {
	background-position: center -950px;
}
.last-6-matches .badges-header STRONG {
	color: white;
	display: block;
	font-family: 'mirror-condensed-regular', sans-serif;
	font-size: 2em;
	text-align: center;
}
.last-6-matches .home {
	float: left;
	width: 49%;
}
.last-6-matches .away {
	float: right;
	width: 49%;
}

/* Previous meetings */
.previous-meetings .badges-header {
	display: none;
	margin-bottom: 15px;
}
.previous-meetings .badges-header LI {
	float: left;
	height: 50px;
	text-indent: -9999px;
	width: 49%;
}
.previous-meetings .badges-header LI:first-of-type STRONG {
	float: right;
}
.previous-meetings .badges-header LI:last-of-type {
	float: right;
}
.previous-meetings .badges-header LI STRONG {
	background-image: url(/assets/images/team-badges.png);
	background-repeat: no-repeat;
	display: block;
	height: 50px;
	text-indent: -9999px;
	width: 50px;
	display: block;
	float: left;
	height: 50px;
	width: 50px;
}
.previous-meetings .badges-header LI STRONG.arsenal {
	background-position: center 0;
}
.previous-meetings .badges-header LI STRONG.aston-villa {
	background-position: center -50px;
}
.previous-meetings .badges-header LI STRONG.cardiff-city {
	background-position: center -100px;
}
.previous-meetings .badges-header LI STRONG.chelsea {
	background-position: center -150px;
}
.previous-meetings .badges-header LI STRONG.crystal-palace {
	background-position: center -200px;
}
.previous-meetings .badges-header LI STRONG.everton {
	background-position: center -250px;
}
.previous-meetings .badges-header LI STRONG.fulham {
	background-position: center -300px;
}
.previous-meetings .badges-header LI STRONG.hull-city {
	background-position: center -350px;
}
.previous-meetings .badges-header LI STRONG.liverpool {
	background-position: center -400px;
}
.previous-meetings .badges-header LI STRONG.manchester-city {
	background-position: center -450px;
}
.previous-meetings .badges-header LI STRONG.manchester-united {
	background-position: center -500px;
}
.previous-meetings .badges-header LI STRONG.newcastle-united {
	background-position: center -550px;
}
.previous-meetings .badges-header LI STRONG.norwich-city {
	background-position: center -600px;
}
.previous-meetings .badges-header LI STRONG.southampton {
	background-position: center -650px;
}
.previous-meetings .badges-header LI STRONG.stoke-city {
	background-position: center -700px;
}
.previous-meetings .badges-header LI STRONG.sunderland {
	background-position: center -750px;
}
.previous-meetings .badges-header LI STRONG.swansea-city {
	background-position: center -800px;
}
.previous-meetings .badges-header LI STRONG.tottenham-hotspur {
	background-position: center -850px;
}
.previous-meetings .badges-header LI STRONG.west-bromwich-albion {
	background-position: center -900px;
}
.previous-meetings .badges-header LI STRONG.west-ham-united {
	background-position: center -950px;
}

/* Top scorers */
.top-scorers:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.top-scorers .badges-header {
	display: none;
}
.top-scorers .badges-header H4 {
	background-image: url(/assets/images/team-badges.png);
	background-repeat: no-repeat;
	display: block;
	height: 50px;
	text-indent: -9999px;
	width: 50px;
	color: white;
	margin: 0 auto;
}
.top-scorers .badges-header H4.arsenal {
	background-position: center 0;
}
.top-scorers .badges-header H4.aston-villa {
	background-position: center -50px;
}
.top-scorers .badges-header H4.cardiff-city {
	background-position: center -100px;
}
.top-scorers .badges-header H4.chelsea {
	background-position: center -150px;
}
.top-scorers .badges-header H4.crystal-palace {
	background-position: center -200px;
}
.top-scorers .badges-header H4.everton {
	background-position: center -250px;
}
.top-scorers .badges-header H4.fulham {
	background-position: center -300px;
}
.top-scorers .badges-header H4.hull-city {
	background-position: center -350px;
}
.top-scorers .badges-header H4.liverpool {
	background-position: center -400px;
}
.top-scorers .badges-header H4.manchester-city {
	background-position: center -450px;
}
.top-scorers .badges-header H4.manchester-united {
	background-position: center -500px;
}
.top-scorers .badges-header H4.newcastle-united {
	background-position: center -550px;
}
.top-scorers .badges-header H4.norwich-city {
	background-position: center -600px;
}
.top-scorers .badges-header H4.southampton {
	background-position: center -650px;
}
.top-scorers .badges-header H4.stoke-city {
	background-position: center -700px;
}
.top-scorers .badges-header H4.sunderland {
	background-position: center -750px;
}
.top-scorers .badges-header H4.swansea-city {
	background-position: center -800px;
}
.top-scorers .badges-header H4.tottenham-hotspur {
	background-position: center -850px;
}
.top-scorers .badges-header H4.west-bromwich-albion {
	background-position: center -900px;
}
.top-scorers .badges-header H4.west-ham-united {
	background-position: center -950px;
}
.top-scorers .badges-header STRONG {
	color: white;
	display: block;
	font-family: 'mirror-condensed-regular', sans-serif;
	font-size: 2em;
	text-align: center;
}
.top-scorers .home {
	float: left;
	width: 49%;
}
.top-scorers .away {
	float: right;
	width: 49%;
}
.top-scorers TABLE TH,
.top-scorers TABLE TD {
	color: white;
	padding: 5px 10px;
}
.top-scorers TABLE THEAD {
	background: #2f2e2e;
}
.top-scorers TABLE THEAD TH {
	font-weight: bold;
}
.top-scorers TABLE THEAD TH:last-of-type {
	text-align: center;
}
.top-scorers TABLE TBODY TR:nth-child(even) {
	background: #2f2e2e;
}
.top-scorers TABLE TBODY TD:last-of-type {
	text-align: center;
}

/* Next 3 matches */
.next-3-matches:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.next-3-matches .badges-header {
	display: none;
}
.next-3-matches .badges-header H4 {
	background-image: url(/assets/images/team-badges.png);
	background-repeat: no-repeat;
	display: block;
	height: 50px;
	text-indent: -9999px;
	width: 50px;
	color: white;
	margin: 0 auto;
}
.next-3-matches .badges-header H4.arsenal {
	background-position: center 0;
}
.next-3-matches .badges-header H4.aston-villa {
	background-position: center -50px;
}
.next-3-matches .badges-header H4.cardiff-city {
	background-position: center -100px;
}
.next-3-matches .badges-header H4.chelsea {
	background-position: center -150px;
}
.next-3-matches .badges-header H4.crystal-palace {
	background-position: center -200px;
}
.next-3-matches .badges-header H4.everton {
	background-position: center -250px;
}
.next-3-matches .badges-header H4.fulham {
	background-position: center -300px;
}
.next-3-matches .badges-header H4.hull-city {
	background-position: center -350px;
}
.next-3-matches .badges-header H4.liverpool {
	background-position: center -400px;
}
.next-3-matches .badges-header H4.manchester-city {
	background-position: center -450px;
}
.next-3-matches .badges-header H4.manchester-united {
	background-position: center -500px;
}
.next-3-matches .badges-header H4.newcastle-united {
	background-position: center -550px;
}
.next-3-matches .badges-header H4.norwich-city {
	background-position: center -600px;
}
.next-3-matches .badges-header H4.southampton {
	background-position: center -650px;
}
.next-3-matches .badges-header H4.stoke-city {
	background-position: center -700px;
}
.next-3-matches .badges-header H4.sunderland {
	background-position: center -750px;
}
.next-3-matches .badges-header H4.swansea-city {
	background-position: center -800px;
}
.next-3-matches .badges-header H4.tottenham-hotspur {
	background-position: center -850px;
}
.next-3-matches .badges-header H4.west-bromwich-albion {
	background-position: center -900px;
}
.next-3-matches .badges-header H4.west-ham-united {
	background-position: center -950px;
}
.next-3-matches .badges-header STRONG {
	color: white;
	display: block;
	font-family: 'mirror-condensed-regular', sans-serif;
	font-size: 2em;
	text-align: center;
}
.next-3-matches .home {
	float: left;
	width: 49%;
}
.next-3-matches .away {
	float: right;
	width: 49%;
}

/* Match stats */
.match-stats H3 {
	display: none;
}

/* Panel */
/* Footer */
#footer {
	background: url(/assets/images/transparencies/000000/percent-50.png) repeat left top;
}
#footer .inner {
	margin: 0 auto;
}
#footer .inner:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
#footer .inner DIV {
	float: left;
	min-height: 100px;
	padding: 30px 40px;
}
#footer .inner DIV LI A {
	color: white;
	font-family: 'mirror-condensed-regular', sans-serif;
	font-size: 1.6em;
	line-height: 1.8em;
	word-wrap: break-word;
}
#footer .inner DIV#footer-links:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
#footer .inner DIV#footer-links LI {
	float: left;
}
#footer .inner DIV#social-links LI {
	margin-bottom: 10px;
}
#footer .inner DIV#social-links LI.facebook A {
	background-image: url(/assets/images/social-network-page-icons/facebook.png);
}
#footer .inner DIV#social-links LI.twitter A {
	background-image: url(/assets/images/social-network-page-icons/twitter.png);
}
#footer .inner DIV#social-links LI A {
	background-position: left top;
	background-repeat: no-repeat;
	display: block;
	min-height: 38px;
	padding-left: 50px;
	padding-top: 2px;
}
#footer .inner DIV#social-links LI A:hover {
	background-position: left -40px;
}
#footer .inner DIV#social-links LI SPAN {
	color: #e0e0e0;
	font: inherit;
}
#footer .inner DIV#footer-logo P {
	background-image: url(/assets/images/mirror-football.png);
	background-position: center center;
	background-repeat: no-repeat;
	height: 77px;
	margin: 0 auto;
	text-indent: -9999px;
	width: 203px;
}

/* Debug logger */
#logger {
	background: none repeat scroll 0 0 #f4f4f4;
	border: 1px solid #dedede;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	bottom: 5%;
	box-shadow: 1px 1px 5px 1px #ccc;
	display: none;
	left: 5%;
	position: fixed;
	width: 90%;
	z-index: 9999;
}
#logger H4 {
	font-weight: bold;
	padding: 10px 10px 0 10px;
	text-transform: uppercase;
}
#logger H4 A {
	color: #3c7f18;
	margin-left: 10px;
	outline: none;
}
#logger .inner {
	height: 100px;
	margin: 10px 5px 5px 0;
	overflow-y: auto;
	padding: 0 10px;
}

/* Debug mode */
.debug #mode-dimensions {
	display: block;
}
.debug #logger {
	display: block;
}
