HTML,
BODY,
SPAN,
APPLET,
OBJECT,
IFRAME,
H1,
H2,
H3,
H4,
H5,
H6,
P,
BLOCKQUOTE,
PRE,
A,
ABBR,
ACRONYM,
ADDRESS,
BIG,
CITE,
CODE,
DEL,
DIV,
DFN,
EM,
FONT,
IMG,
INS,
KBD,
Q,
S,
SAMP,
SMALL,
STRIKE,
STRONG,
SUB,
SUP,
TT,
VAR,
DL,
DT,
DD,
OL,
UL,
LI,
FIELDSET,
FORM,
LABEL,
LEGEND,
CAPTION,
TBODY,
TFOOT,
THEAD,
T,
FIGCAPTION {
	border: 0;	
	color: #141414;
	font-size: 13px;
	font-style: inherit;	
	font-weight: inherit;
	line-height: 1.3em;
	margin: 0;	
	overflow: hidden;
	padding: 0;
	vertical-align: baseline;
}

DIV.chart,
DIV.chart * {
	overflow: visible;
}

IFRAME {
	border: none;
	overflow: hidden;
}

HTML,BODY {
	overflow: auto;
}

LEGEND {
	display: none;
}

/* Process focus/outline styles */

*:focus {	
	outline: thin dotted #666;
}


BODY {
	color: #333;
	line-height: 1;
}

OL,
UL {
	list-style: none;
}

TABLE {
	border-collapse: separate;
	border-spacing: 0;
}

CAPTION,
TH,
TD,
H1,
H2,
H3,
H4,
H5,
H6 {
	font-weight: normal;
	line-height: 1.3em;
	text-align: left;	
}

BLOCKQUOTE:before,
BLOCKQUOTE:after,
Q:before,
Q:after {
	content: "";
}

BLOCKQUOTE,Q {
	quotes: "" "";
}