/* Import variables and mixins */
@import "utilities/variables";
@import "utilities/mixins";

/* Grid */

#outer {
	width: 1140px;
}

#content {
	float: left;
	width: 800px;
}

#panel {
	float: right; 
	margin-top: 10px;
	width: 300px;
}

/* Global */

#footer-bar-overlay {
	background: url(/assets/images/transparencies/000000/percent-50.png) repeat left top;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
}

/* Global > Custom scrollbars */

.jspContainer {
	overflow: hidden;
	position: relative;
}

.jspPane {
	position: absolute;
}

.jspVerticalBar {
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 12px;
}

.jspCap {
	display: none;
}

.jspTrack {
	background: #fff;
	position: relative;
}

.jspDrag {
	background: #3c7f18;
	cursor: pointer;
	position: relative;
	left: 0;
	top: 0;
}

/* Global > Module */
/* Global > Tabs */

.tabs {
	.tab-content {
		padding-top: 20px;
		
		.inner {
			margin: 0 auto;
			overflow-y: auto;
			width: 1140px;
		}
	}
}

/* Global > Tabs (internal) */

.tabs-internal {
	.tab-triggers {
		margin: 0 auto;
		width: 1140px;
	}
	
	.tab-content {
		padding-top: 20px;
	}
}

/* Global > Tab triggers */
/* Global > Mode dimensions */

#mode-dimensions {
	#mode {
		SPAN {
			color: #3f6909;
		}
	}
}

/* Global > Split bar */

.split-bar {
	.outer {
		width: 90%;
	}
}

/* Global > Split bar key */
/* Global > League table */
/* Global > In summary */
/* Outer most wrapper */

/* Header */

#header {
	margin-bottom: 20px;
	width: auto;
	
	#fixtures-trigger {
		display: none;
	}
	
	#fixtures {
		.outer {
			width: 1115px;
			
			.inner {
				.match {
					width: 156px;
					
					TABLE {
						TBODY {
							TR {
								TH {
									A {
										display: none;
									}
								}
							}
						}
					}
				}
			}
		}		
	}
}

/* Dropdown bar */

#dropdown-bar {
	#view-all-live-games {
		margin-left: 10px;
	}
		
	#container-stats {
		display: none;
		
		UL.triggers {
			LI {				
				>A {
					SPAN {
						right: $desktop-gutter;
					}					
				}
				
				DIV.module {
					.inner {
						padding: $desktop-gutter;
					}
				}
			}
		}
	}	
	
	>UL {
		float: right;
		
		LI {
			&#stats {
				display: none;
			}
			
			&.loading {
				SPAN {
					top: 9px;
				}
			}
		}	
	}
	
	.flyout-content {
		UL.triggers {
			>LI {
				>A {
					padding-left: 10px;
				}

				.iPhoneCheckContainer {
					margin-right: 10px;
					
					LABEL {
						padding-top: 4px;
					}
				}
			
				DIV.module {
					.close {
						left: $desktop-gutter;
					}
				}
			}
		}
		
		.button {
			margin: $desktop-gutter 0 $desktop-gutter $desktop-gutter;
		}
		
		.league-table {
			.legend {
				LI {
					padding-right: $desktop-gutter;
				}
			}
			
			OL {
				LI {					
					UL {
						LI {
							padding-right: $desktop-gutter;
						}
					}
				}
			}
			
			.footer {
				padding-right: $desktop-gutter
			}
		}
		
		&#container-stats {
			/*display: none;*/
		}
	}
}

/* Match summary */

#match-summary {	
	TABLE {
		TH,
		TD {
			width: 360px;
		}	
	}
	
	.separator {
		width: 80px;
	}
	
	#summary-statistics {
		padding-left: $desktop-gutter;
		padding-right: $desktop-gutter;
	}
}

/* Match heading */

#match-heading {
	padding-left: $desktop-gutter;
	padding-right: 120px;
	
	#share-icons {
		right: 0;
		
		LI {
			&.facebook {
				A {
					background-image: url(/assets/images/share-icons/facebook.png);
				}
			}
			
			&.twitter {
				A {
					background-image: url(/assets/images/share-icons/twitter.png);
				}
			}
			
			&.google {
				A {
					background-image: url(/assets/images/share-icons/google.png);
				}
			}
		}
	}
}

/* Countdown timer */

#countdown-timer {
	margin: $desktop-gutter*2 auto $desktop-gutter auto;
}

/* News feed */

#news-feed {
	#new-updates {
		margin-left: $desktop-gutter;
	}
	
	.update {
		padding-left: 10px;	
	
		&.goal {
			A {
				&.toggle {
					@include news-feed-green;
				}
			}
			
			P {
				&.tweet-this-post {
					A {
						@include tweet-white;
					}
				}
			}
		}
	
		&.red-card {
			A {
				&.toggle {
					@include news-feed-red;
				}
			}
			
			P {
				&.tweet-this-post {
					A {
						@include tweet-white;
					}
				}
			}
		}
		
		&.yellow-card {
			A {
				&.toggle {
					@include news-feed-yellow;
				}
			}
			
			P {
				&.tweet-this-post {
					A {
						@include tweet-black;
					}
				}
			}
		}
		
		&.statistic {
			P {
				&.tweet-this-post {
					A {
						@include tweet-white;
					}
				}
			}
		}
		
		IMG {
			&.source-icon {
				height: 50px;
				left: 60px;
				width: 50px;
			}
		}
		
		.source {
			H4 {
				text-align: center;
			}
			
			P {
				left: 10px;
				padding: 0 10px;
				width: 130px;
			}
		}
	
		A {
			&.toggle {
				@include news-feed;
			}
		}
	
		P {
			&.time-type {
				EM {
					background-image: url(/assets/images/update-time-arrow.png);
				}
				
				SPAN {					
					width: 150px;
				}
			}
			
			&.tweet-this-post {
				A {
					@include tweet-this-post;
				}
			}
		}

		H2,
		>UL,
		.inner {
			padding-left: 175px;
		}
	}
}

/* Footer bar */

#footer-bar {
	background: url(/assets/images/footer-bar-shadow-repeater.png) repeat-x left top;
	bottom: 0;
	height: auto;
	left: 0;
	padding-top: 9px;
	position: fixed;
	width: 100%;
	z-index: 5;
	
	.close {
		display: none;
	}
	
	#footer-bar-container {
		background: url(/assets/images/repeater-gray-pattern.gif) repeat left top;
		height: 0;
		position: relative;
		
		/* Not all tabs should be absolutely positioned, hence the inclusion of these styles to the footer bar only */
		
		.tab-content {
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			
			&.module {
				background: none;
			}
		}
		
		.tabs-internal {
			display: block;
			position: relative;
			
			.tab-content {
				top: 45px;
			}
		}
	}
}

/* Line Ups */
/* Facts */

.facts {
	UL {
		>LI {
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

/* Match preview */
/* Match preview > Match listing */
/* Last 6 matches */
/* Previous meetings */
/* Top scorers */
/* Next 3 matches */
/* Match stats */
/* Panel */
/* Footer */

#footer {
	/*margin-bottom: 50px;*/
	
	.inner {
		background: url(/assets/images/repeater-footer-inner.gif) repeat-y center top;
		width: 1140px;
		
		DIV {
			&#footer-links {
				width: 350px;
				
				LI {
					width: 175px;
				}
			}
			
			&#social-links {
				width: 250px;
			}
			
			&#footer-logo {
				width: 300px;
			}
		}
	}
}

/* Debug logger */
/* Debug mode */