/* Import variables and mixins */
@import "utilities/variables";
@import "utilities/mixins";

/* Grid */
/* Global */

#beta {
	display: none;
}

html {
	-webkit-text-size-adjust: none;
}

H1 {
	background-size: 100%;
	height: 39px;
	margin-top: 20px;
	width: 101px;
}

.button {
	font-size: 1.6em;
	padding-bottom: 3px;
	padding-top: 5px;
}

/* Global > Custom scrollbars */
/* Global > Module */
/* Global > Tabs */

.tabs {
	.tab-content {
		padding-left: 0;
		padding-right: 0;
	}
}

/* Global > Tabs (internal) */

.tabs-internal {
	.tab-content {
		padding: $mobile-gutter 0;
	}
}

/* Global > Tab triggers */
/* Global > Mode dimensions */

#mode-dimensions {
	#mode {
		SPAN {
			color: #c00000;
		}
	}
}

/* Global > Split bar */

.split-bar {
	padding-left: 5%;
	padding-right: 5%;
	
	STRONG {
		width: 14%;
	}
	
	UL {
		width: 72%;
	}
}

/* Global > Split bar key */
/* Global > League table */
/* Global > In summary */
/* Outer most wrapper */

/* Header */

.match-detail {
	#header #fixtures .inline-link {
		&:first-of-type {
			border-bottom: solid 1px $gray2;
			border-top: none;
			display: block;
		}
	}
}

#header {
	#fixtures-trigger {
		background: $gray1;
		border-bottom: solid 1px $gray2;
		cursor: pointer;
		padding: 10px 10px 5px 55px;
		position: relative;
		
		A {
			display: block;
			position: absolute;
			text-indent: -9999px;
			
			&#todays-matches {
				background-image: url(/assets/images/retina/toggle-scores.png);
				background-position: left top;
				background-repeat: no-repeat;				
				background-size: 100%;
				height: 20px;
				left: $mobile-gutter;
				top: 12px;
				width: 28px;
			}
		}
		
		SPAN {
			color: $green;
			@include mirror-condensed-regular;
			font-size: 1.6em;
		}
	}

	#fixtures {		
		&.offscreen {
			position: absolute;
		}
				
		.inline-link {
			border-top: solid 1px $gray2;
			display: block;
			padding: 10px 10px 5px 10px;
									
			A {				
				color: $green;
				display: block;
				@include mirror-condensed-bold;
				font-size: 1.8em;
				position: relative;
				text-align: center;
				
				SPAN {
					background-image: url(/assets/images/retina/arrow-right.png);
					background-position: center center;
					background-repeat: no-repeat;
					background-size: 100%;
					display: block;
					height: 15px;
					position: absolute;
					right: 0;
					text-indent: -9999px;
					top: 5px;
					width: 10px;
				}
			}
		}
		
		UL {
			display: none;
		}
		
		.internal-scroller {
			.inline-link {
				&:last-of-type {
					border-bottom: none;			
				}
			}
		}
		
		.outer {
			border-left: 0;
			
			.inner {
				margin: 0;
				
				.match {
					background: none;
					@include clearfix;
					height: auto;
					width: 100%;
					
					&:nth-child(odd) {
						background-color: $gray1;
						
						TABLE {
							TBODY {
								background-color: $gray1;
							}
						}
					}
					
					.event-update {
						height: 55px;
						
						&.yellow-card {
							/* Smaller, but on a single line */
							P {
								padding-top: 9px;
							}
						}
						
						P {
							font-size: 2.4em;
							padding-top: 9px;
						}
					}
					
					.event {
						font-size: 0.8em;
						height: auto;
						padding-top: 0;
					}
					
					TABLE {
						&.active {
							background: $gray5;
							border-bottom: solid 1px $gray5;
							
							THEAD {	
								background-image: none;
								border-right: none;
								
								TH {
									background-image: none;
									color: $green;
								}
							}
							
							TBODY {
								background-color: $gray5;
								background-image: url(/assets/images/retina/carousel-scores-separator-active.gif);
								background-position: center 7px;
								background-repeat: no-repeat;
								
								TD {
									background: none;
									border: none;
									color: $white;								
								}
							}
						}
						
						THEAD {
							background: none;						
							
							TH {
								background-image: none;
								color: $gray4;
								font-size: 0.9em;
								padding: 5px 0;
								text-align: center;
							}
						}
						
						TBODY {
							background-color: $white;
							background-image: url(/assets/images/retina/carousel-scores-separator.gif);
							background-position: center 7px;
							background-repeat: no-repeat;						
							
							TR {
								@include clearfix;
								float: left;
								width: 50%;

								TH,
								TD,
								&:last-of-type TH,
								&:last-of-type TD {
									padding: 0 0 5px 0;
								}
								
								TH {
									float: left;
									text-align: right;
									width: 80%;
								}
								
								TD {
									float: right;
									text-align: center;
									width: 20%;
								}
								
								&:last-of-type {
									TH {
										float: right;
										padding-right: 20%;
										position: relative;
										text-align: left;
										width: 60%;
										
										A {
											background-image: url(/assets/images/retina/arrow-right.png);
											background-position: left top;
											background-repeat: no-repeat;
											background-size: 100%;
											height: 15px;
											position: absolute;
											right: 10px;
											text-indent: -9999px;
											top: 0;
											width: 10px;
										}
									}
									
									TD {
										float: left;
										width: 20%;
									}
								}
							}
							
							TD {
								background: none;
								color: $green;
							}
						}
					}
				}
			}
		}
	}
}

/* Dropdown bar */

#dropdown-bar {
	border-bottom: solid 1px $gray2;
	
	#view-all-live-games {
		display: none;
	}
	
	#container-stats {
		UL.triggers {
			LI {
				>A {
					SPAN {
						@include retina-triggers-arrow-right;
						right: 0;
					}					
				}
				
				DIV.module {
					.inner {
						padding: 0;
					}
					
					/* Specify which flyout content should be flush to the bottom */
					
					&.league-table,
					&.line-ups,
					&.facts {
						.inner {
							padding-bottom: 0;
						}
					}
				}
			}		
		}
	}
	
	&>UL {
		LI {
			margin-left: 10px;
			margin-right: 0;
			
			&:first-of-type {
				margin-left: 0;
				padding-left: $mobile-gutter;
			}
			
			A {
				padding-bottom: 4px;
				padding-top: 4px;
			}
			
			SPAN {
				background-image: url(/assets/images/retina/dropdown-bar-icons.gif);
				background-size: 100% auto;
				height: 12px;
				top: 6px;
			}
			
			&:hover {
				SPAN {
					background-position: left -51px;
				}
			}
			
			&.active {
				SPAN {
					background-position: left -102px;
				}
			}
		
			&.loading {
				SPAN {
					top: 5px;
				}
			}	
		}
	}
	
	.flyout-content {
		UL.triggers {
			>LI {
				padding-left: $mobile-gutter;
				padding-right: $mobile-gutter;
				
				.iPhoneCheckContainer {
					@include flip-toggle-switch;				
				}
			
				DIV.module {
					.close {
						@include retina-flyout-close;
						left: $mobile-gutter;
					}
				}
			}
		}

		.button {
			margin: 10px $mobile-gutter;
		}
		
		.league-table {
			.legend {
				LI {
					padding-right: $mobile-gutter;
				}
			}
			
			OL {
				LI {
					STRONG {
						padding-left: $mobile-gutter;
					}
					
					UL {
						LI {
							padding-right: $mobile-gutter;
						}
					}
				}
			}
			
			.footer {
				padding-right: $mobile-gutter;
			}
		}
	}
}

/* Match summary */

#match-summary {
	#toggle-goal-scorers {
		position: absolute;
		right: $mobile-gutter;
		top: 20px;

		&.visible {
			display: block;
		}
		
		A {
			background-image: url(/assets/images/retina/match-summary-toggle.png);
			background-repeat: no-repeat;
			background-size: 100%;
			display: block;
			height: 14px;
			text-indent: -9999px;
			width: 21px;	
			
			&.expanded {
				background-position: left top;
			}
			
			&.contracted {
				background-position: left -14px;
			}
		}
	}
	
	TABLE {
		display: none;
		
		TH,
		TD {
			width: 40%;
		}	
	}
	
	.separator {
		width: 20%;
	}
		
	OL {	
		border-bottom: solid 1px $gray2;
		
		LI {
			width: 40%;
			
			&.separator {
				font-size: 2em;
				padding-top: 10px;
			}
			
			&.away {
				DIV {
					SPAN {
						margin: 0;
					}	
				}
			}
			
			SPAN {
				@include retina-team-badges;
				margin: 0;
			}
			
			STRONG {
				display: none;
			}
		}
	}
	
	#summary-statistics {
		padding-left: $mobile-gutter;
		padding-right: $mobile-gutter;
		padding-top: 10px;
		text-align: left;
		
		LI {
			&:first-of-type {
				margin-left: 0;
			}
		}
	}
}

/* Match heading */

#match-heading {
	padding: 0 $mobile-gutter;
	
	#share-icons {
		margin: 10px 0 0 0;
		position: relative;
		
		LI {
			&.facebook {
				A {
					@include retina-social-icons-facebook;
				}
			}
			
			&.twitter {
				A {
					@include retina-social-icons-twitter;
				}
			}
			
			&.google {
				A {
					@include retina-social-icons-google;
				}
			}
		}
	}
}

/* Countdown timer (mobile specific) */

#countdown-timer {
	background-image: url(/assets/images/retina/countdown-timer/repeater.gif);
	margin: $mobile-gutter auto 0 auto;
	padding: 10px 5px 0 5px;
	width: 295px;
	
	H4 {
		font-size: 1.6em;
	}
	
	.countdownHolder {
		height: 75px;
		width: 296px;
		
		.position {
			height: 68px;
			width: 37px;
			
			.countWord {
				background-image: url(/assets/images/retina/countdown-timer/words.png);
				height: 272px;
				width: 296px;
			}
		}

		.digit {
			background-image: url(/assets/images/retina/countdown-timer/frame.png);
			height: 4488px;
			width: 111px;
		}
		
		&>span {
			height: 68px;
			width: 74px;
		}
	}
}

/* News feed */

#news-feed {
	#new-updates {
		margin-left: $mobile-gutter;
		margin-right: $mobile-gutter;
	}

	>.inner {
		.update {
			border-bottom: none;
			overflow: visible;
			margin-top: 0;
			padding: $mobile-gutter;
			
			&.promoted {
				padding: $mobile-gutter;
				
				A.toggle {
					right: 25px;
					top: 50px;
				}
			}

			&.goal {
				A {
					&.toggle {
						@include retina-news-feed-green;
					}
				}
				
				P {
					&.tweet-this-post {
						A {
							@include retina-tweet-white;
						}
					}
				}
			}
			
			&.red-card {
				A {
					&.toggle {
						@include retina-news-feed-red;
					}
				}
				
				P {
					&.tweet-this-post {
						A {
							@include retina-tweet-white;
						}
					}
				}
			}
		
			&.yellow-card {
				A {
					&.toggle {
						@include retina-news-feed-yellow;
					}
				}
				
				P {
					&.tweet-this-post {
						A {
							@include retina-tweet-black;
						}
					}
				}
			}
			
			&.statistic {
				P {
					&.tweet-this-post {
						A {
							@include retina-tweet-white;
						}
					}
				}
			}
						
			.inner {
				margin-top: 0;
				overflow: visible;
			}
								
			H2 {
				clear: both;
			}
					
			.source {
				H4, 
				IMG {
					display: none;
				}
				
				P {
					display: block;
					font-size: inherit;
					margin-top: 5px;
					position: relative;
					text-align: left;
					top: auto;
					
					SPAN {
						display: inline;
						
						&:before {
							content: " - ";
						}
						
						&.by {
							display: inline;
							
							&:before {
								content: "";
							}
							
							&:after {
								content: "\00a0";
							}
						}
					}
				}
			}		
					
			A {
				&.toggle {
					@include retina-news-feed;
					background-size: 100% auto;
					right: 25px;
					top: 50px;
				}
			}
			
			P {
				line-height: 1.5em;
				
				&.time-type {		
					EM {
						background-image: url(/assets/images/retina/update-time-arrow.png);
						background-size: auto 100%;
					}
					
					SPAN {
						background-image: url(/assets/images/retina/update-time-arrow.png);
						background-size: 100% 100%;
						width: 20%;
					}
				}
				
				&.tweet-this-post {
					margin-top: 15px;
					
					A {
						@include retina-tweet-this-post;
					}
				}
			}
			
			IMG {
				&.source-icon {
					display: none;
				}
				
				&.inline {
					margin-left: -6%;
					width: 112%;
				}
			}
			
			DIV {
				&.inline-image {
					overflow: visible;
					width: 100%;
					
					IMG {
						margin-left: -6%;
						width: 112%;
					}
					
					P {
						right: $mobile-gutter-negative;
					}
				}
			}
			
			FIGURE {								
				FIGCAPTION {
					padding: 0;
				}
			}		
		}
	}
}

/* Panel > Split bar */
/* Footer bar */

#footer-bar {
	display: none;
}

/* Line Ups */

.line-ups {
	UL {
		@include clearfix;
		
		>LI {
			float: none;
			width: 100%;
		
			.badges-header {				
				H4 {
					@include retina-team-badges;
				}
			}
		
			&.home,
			&.away {				
				OL {
					>LI {
						padding-left: $mobile-gutter;
						padding-right: $mobile-gutter;
						
						UL {
							margin-left: 5px;
							margin-right: 0;
							
							LI {
								background-size: 100% auto;
								margin-left: 5px;
								margin-right: 0;
								
								&.goalkeeper {@include retina-goalkeeper;}
								&.substitute-on {@include retina-substitute-on;}
								&.substitute-off {@include retina-substitute-off;}
								&.yellow-card {@include retina-yellow-card;}
								&.red-card {@include retina-red-card;}
								&.goal-scorer {@include retina-goal-scorer;}
							}
						}
					}
				}
			}
		
			&.away {
				margin-top: $mobile-gutter;
			}
		}
	}
}

/* Facts */

.facts {
	UL {
		>LI {
			padding-left: $mobile-gutter;
			padding-right: $mobile-gutter;
		}
	}
}

/* Match preview */

.match-preview {
	.teams {
		display: none;
	}
}

/* Match preview > Match listing */
/* Last 6 matches */

.last-6-matches {
	.badges-header {
		display: block;
		
		H4 {
			@include retina-team-badges;
		}
	}
	
	.home,
	.away {
		float: none;
		width: 100%;
	}
	
	.away {
		margin-top: $mobile-gutter;
	}
}

/* Previous meetings */

.previous-meetings {
	.badges-header {
		display: block;
		
		LI {
			STRONG {
				@include retina-team-badges;
			}
		}
	}
}

/* Top scorers */

.top-scorers {
	.badges-header {
		display: block;
		
		H4 {
			@include retina-team-badges;
		}
	}
	
	.home,
	.away {
		float: none;
		width: 100%;
	}
	
	.away {
		margin-top: $mobile-gutter;
	}
	
	TABLE {			
		TH,
		TD {
			color: $white;
			padding-left: $mobile-gutter;
			padding-right: $mobile-gutter;
		}
	}
}

/* Next 3 matches */

.next-3-matches {
	.badges-header {
		display: block;
		
		H4 {
			@include retina-team-badges;
		}
	}
	
	.home,
	.away {
		float: none;
		width: 100%;
	}
	
	.away {
		margin-top: $mobile-gutter;
	}
}

/* Match stats */
/* Panel */

#panel {
	display: none;
}

/* Footer */

#footer {
	margin-bottom: 0;
	
	.inner {
		background: none;
		
		DIV {
			float: none;
			min-height: 1px;
			padding: 5%;
			
			&#footer-links {
				border-bottom: solid 1px $gray3;
				width: 90%;
				
				LI {
					width: 50%;
				}
			}
			
			&#social-links {
				border-bottom: solid 1px $gray3;
				
				LI {
					&.facebook {
						A {
							@include retina-social-network-page-icons-facebook;
						}
					}
					
					&.twitter {
						margin-bottom: 0;
						
						A {
							@include retina-social-network-page-icons-twitter;
						}
					}
				}
			}
			
			&#footer-logo P {
				background-size: 100% auto;
				height: 39px;
				width: 101px;
			}
		}
	}
}

/* Debug logger */
/* Debug mode */