/* Import variables and mixins */
@import "utilities/variables";
@import "utilities/mixins";

/* Grid */

#outer {
	width: 100%;
}

#content {
	width: 100%;
}

/* Global */

html {
	-webkit-text-size-adjust: none;
}

BODY {
	&.pinnedToTop {
		#page {
			padding-top: 93px;
		}
	}
}

H1 {
	background-image: url(/assets/images/retina/mirror-football-beta.png);
	/* background-image: url(/assets/images/retina/mirror-football.png); (without Beta logo) */
	background-size: 100%;
}

.button {
	font-size: 1.8em;
	padding-bottom: 0px;
	padding-top: 5px;
}

/* Global > Custom scrollbars */
/* Global > Module */
/* Global > Tabs */

.tabs {
	.tab-content {
		padding-left: 0;
		padding-right: 0;
	}
}

/* Global > Tabs (internal) */

.tabs-internal {
	.tab-content {
		.inner {
			padding: 0;
		}
	}
}

/* Global > Tab triggers */
/* Global > Mode dimensions */

#mode-dimensions {
	#mode {
		SPAN {
			color: #cc630e;
		}
	}
}

/* Global > Split bar */

.split-bar {
	padding-left: 5%;
	padding-right: 5%;
	
	STRONG {
		width: 5%;
	}
	
	UL {
		width: 90%;
	}
}

/* Global > Split bar key */
/* Global > League table */
/* Global > In summary */
/* Outer most wrapper */

/* Header */

#header {
	box-shadow: 0 0 5px $black;
	width: 100%;
	
	#fixtures-trigger {
		display: none;
	}
	
	#fixtures {
		UL {
			LI {
				&.disabled {
					A {
						background-position: center -46px;
					}
				}
			}
			
			A {				
				background-position: center 33px;
				background-size: 100%;
				
				&.previous {
					background-image: url(/assets/images/retina/scores-arrow-previous.png);					
				}
				
				&.next {
					background-image: url(/assets/images/retina/scores-arrow-next.png);
				}
			}
		}
		
		.outer {			
			.inner {
				.match {					
					TABLE {
						TBODY {
							TR:last-of-type {
								TH {
									A {
										display: none;
									}
								}
							}
							
							TH,
							TD {
								font-size: 1.4em;
							}
						}
					}
				}
			}
		}		
	}
}

/* Dropdown bar */

#dropdown-bar {
	#view-all-live-games {
		margin-left: $tablet-gutter;
	}
	
	#container-stats {
		UL.triggers {
			LI {
				>A {
					SPAN {
						@include retina-triggers-arrow-right;
						right: $tablet-gutter;
					}					
				}
				
				DIV.module {
					.inner {
						padding: 0;
						
						&.scroll {
							-webkit-overflow-scrolling: touch;
							overflow-y: scroll;
						}
					}
					
					/* Specify which flyout content should be flush to the bottom */
					
					&.league-table,
					&.line-ups,
					&.facts {
						.inner {
							padding-bottom: 0;
						}
					}
				}
			}		
		}
	}	
	
	&>UL {
		float: right;
		margin-right: $tablet-gutter;
		
		LI {
			A {
				padding-bottom: 4px;
				padding-top: 4px;
			}
			
			SPAN {
				background-image: url(/assets/images/retina/dropdown-bar-icons.gif);
				background-size: 100% auto;
				height: 12px;
				top: 6px;
			}
			
			&:hover {
				SPAN {
					background-position: left -51px;
				}
			}
			
			&.active {
				SPAN {
					background-position: left -102px;
				}
			}
		
			&.loading {
				SPAN {
					top: 5px;
				}
			}		
		}
	}
	
	.flyout-content {		
		UL.triggers {
			>LI {
				>A {
					padding-left: $tablet-gutter;
				}
				
				.iPhoneCheckContainer {
					@include flip-toggle-switch;
					margin-right: $tablet-gutter;					
				}
			
				DIV.module {
					.close {
						@include retina-flyout-close;
						left: $tablet-gutter;
					}
				}	
			}
		}

		.button {
			margin: 10px $tablet-gutter;
		}
		
		.league-table {
			.legend {
				LI {
					padding-right: $tablet-gutter;
				}
			}
			
			OL {
				LI {
					STRONG {
						padding-left: $tablet-gutter;
					}
					
					UL {
						LI {
							padding-right: $tablet-gutter;
						}
					}
				}
			}
			
			.footer {
				padding-right: $tablet-gutter;
			}
		}
	}
}

/* Match summary */

#match-summary {
	TABLE {
		TH,
		TD {
			width: 45%;
		}
	}
	
	.separator {
		width: 10%;
	}
	
	OL {	
		LI {
			width: 45%;
			
			SPAN {
				@include retina-team-badges;
			}
		}
	}
	
	#summary-statistics {
		padding-left: $tablet-gutter;
		padding-right: $tablet-gutter;
	}
}

/* Match heading */

#match-heading {
	padding-left: $tablet-gutter;
	padding-right: 140px;
	
	#share-icons {
		right: $tablet-gutter;
		
		LI {
			&.facebook {
				A {
					@include retina-social-icons-facebook;
				}
			}
			
			&.twitter {
				A {
					@include retina-social-icons-twitter;
				}
			}
			
			&.google {
				A {
					@include retina-social-icons-google;
				}
			}
		}
	}
}

/* Countdown timer (tablet specific) */

#countdown-timer {	
	margin: $tablet-gutter auto 0 auto;
}

/* News feed */

#news-feed {
	margin: 0 $tablet-gutter;
		
	.update {
		padding-left: 0;
		
		&.promoted {
			padding-left: 10px;
			
			.inner {				
				IMG {
					&.inline {
						width: 96%;
					}
				}
			}			
		}

		&.goal {
			A {
				&.toggle {
					@include retina-news-feed-green;
				}
			}
			
			P {
				&.tweet-this-post {
					A {
						background-position: left center;
						@include retina-tweet-white;
					}
				}
			}
		}
		
		&.red-card {
			A {
				&.toggle {
					@include retina-news-feed-red;
				}
			}
			
			P {
				&.tweet-this-post {
					A {
						border: solid 1px red;
						@include retina-tweet-white;
					}
				}
			}
		}
		
		&.yellow-card {
			A {
				&.toggle {
					@include retina-news-feed-yellow;
				}
			}
			
			P {
				&.tweet-this-post {
					A {
						@include retina-tweet-black;
					}
				}
			}
		}
		
		&.statistic {
			P {
				&.tweet-this-post {
					A {
						@include retina-tweet-white;
					}
				}
			}
		}
		
		IMG {
			&.source-icon {
				left: 7.5%;
				width: 5%;
			}
		}
		
		.source {
			* {
				position: absolute;
			}
			
			H4 {
				padding-left: 1%;
				padding-right: 4%;
				text-align: left;
				width: 15%;
				
				SPAN {
					right: -6%;
					text-align: center;
				}
			}
			
			P {
				padding: 0 2% 0 2%;
				width: 16%;
			}
		}
				
		P {
			&.time-type {
				EM {
					background-image: url(/assets/images/retina/update-time-arrow.png);
					background-size: auto 100%;
				}
				
				SPAN {					
					background-image: url(/assets/images/retina/update-time-arrow.png);
					background-size: 100% 100%;
					width: 20%;
				}
			}
			
			&.tweet-this-post {
				A {
					@include retina-tweet-this-post;
				}
			}
		}
		
		A {
			&.toggle {
				@include retina-news-feed;
				background-size: 100% auto;
			}
		}
		
		H2,
		>UL,
		.inner {
			padding-left: 25%;
		}
	}
}

/* Panel > Split bar */
/* Footer bar */

#footer-bar {
	display: none;
}

/* Line Ups */

.line-ups {
	UL {
		>LI {
			.badges-header {				
				H4 {
					@include retina-team-badges;
				}
			}
		
			&.home,
			&.away {				
				OL {
					>LI {
						padding-left: $tablet-gutter;
						padding-right: $tablet-gutter;
						
						UL {	
							LI {
								background-size: 100% auto;
								
								&.goalkeeper {@include retina-goalkeeper;}
								&.substitute-on {@include retina-substitute-on;}
								&.substitute-off {@include retina-substitute-off;}
								&.yellow-card {@include retina-yellow-card;}
								&.red-card {@include retina-red-card;}
								&.goal-scorer {@include retina-goal-scorer;}
							}
						}
					}
				}
			}
		}
	}
}

/* Facts */

.facts {
	UL {
		>LI {
			padding-left: $tablet-gutter;
			padding-right: $tablet-gutter;
		}
	}
}

/* Match preview */
/* Match preview > Match listing */
/* Last 6 matches */

.last-6-matches {
	.inner {
		padding-bottom: 10px;
	}
	
	.badges-header {
		display: block;
		
		H4 {
			@include retina-team-badges;
		}
	}
}

/* Previous meetings */

.previous-meetings {
	.badges-header {
		display: block;
		
		LI {
			STRONG {
				@include retina-team-badges;
			}
		}
	}
}

/* Top scorers */

.top-scorers {	
	.badges-header {
		display: block;
		margin-bottom: 10px;
		
		H4 {
			@include retina-team-badges;
		}
	}
	
	TABLE {			
		TH,
		TD {
			color: $white;
			padding-left: $tablet-gutter;
			padding-right: $tablet-gutter;
		}
	}
}

/* Next 3 matches */

.next-3-matches {	
	.badges-header {
		display: block;
		margin-bottom: 10px;
		
		H4 {
			@include retina-team-badges;
		}
	}
}

/* Match stats */
/* Panel */

#panel {
	display: none;
}

/* Footer */

#footer {
	margin-bottom: 0;
	
	.inner {
		background: none;
		width: 100%;
		
		DIV {
			padding: 3% 0 3% 0;
			
			&#footer-links {
				sbackground: red;
				padding-left: 3%;
				width: 37%;
				
				LI {
					width: 50%;
				}
			}
			
			&#social-links {
				sbackground: green;
				width: 30%;
				
				LI {
					&.facebook {
						A {
							@include retina-social-network-page-icons-facebook;
						}
					}
					
					&.twitter {
						A {
							@include retina-social-network-page-icons-twitter;
						}
					}
				}
			}
			
			&#footer-logo {
				sbackground: blue;
				padding-right: 3%;
				width: 27%;
				
				P {
					@include retina-footer-mirror-logo;
					height: 57px;
					width: 150px;
				}
			}
		}
	}
}

/* Debug logger */
/* Debug mode */